= content_for :meta do
  <META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">
= render :partial => 'shared/header_vote', :locals => {"show_delete" => true, :question => @question}

.tab-content
  .interior-content
    .row-fluid
      .span12
        %h3= t('nav.manage_question')
        #question-saved.alert.alert-success.hide
          = t('questions.question_saved')
        %table.table.table-bordered.table-striped.table-condensed.tablesorter.ideas-table
          %thead
            %tr
              %th
                %span.question-name
                  = @question.attributes['name']
                - if ((@question.votes_count == 0 && current_user.owns?(@earl)) || current_user.admin?)
                  = link_to("<i class='glyphicon glyphicon-pencil'></i>".html_safe, '#edit-question', :"data-toggle" => 'modal', :class => 'btn').html_safe
                - else
                  = link_to("<i class='glyphicon glyphicon-pencil'></i>".html_safe, '#cant-edit-question', :"data-toggle" => 'modal', :class => 'btn').html_safe
              %th.score
                =  t('items.score')
                = link_to('', '#score_explanation', :"data-toggle" => 'modal', :class => 'glyphicon glyphicon-question-sign')
              %th.score=  t('questions.source')
              %th.score= t('items.list.status').titleize
          %tbody
            - for choice in @choices #.sort_by {|x| [(!!x.attributes['active']).to_s, x.data]}
              %tr
                %td.title= link_to h(truncate(choice.data, :length => 140, :omission => '…')), question_choice_url(@earl.name, choice), :id => choice.id, :question_id => @earl.name, :"data-toggle" => "modal-ajax"
                %td.votes= choice.attributes['score'] ? choice.attributes['score'].round.to_s : nil
                %td.votes= choice.attributes['user_created'] ? t('admin.user') : t('admin.seed')
                %td.votes{:id => "choice_#{choice.id}_status"}
                  -if @choices.size < 3
                    = choice.active? ? t('items.list.activated') : t('items.list.deactivated')
                  -else
                    %button.toggle_choice_status.btn{:class => choice.active? ? 'btn-primary' : '', :"data-earl_id" => @earl.id, :"data-choice_id" => choice.id, :"data-status" => "#{choice.active?}"}
                      = choice.active? ? 'Activated' : 'Deactivated'
        %p
          = t('admin.this_question_created') + " #{time_ago_in_words(@earl.created_at)} " + t('admin.ago')
          = t('admin.and_registered_to') + ": " + @earl.user.email

    .row-fluid
      .span12.question-admin-form
        =form_for @earl, :url => { :action => "update" }, :html => {:method => :put, :multipart => true, :class => 'form-horizontal'} do |f|
          -unless @earl.errors.blank?
            :javascript
              $(document).ready(function(){
                document.getElementById('errorExplanation').scrollIntoView(true);
              });
            .alert.alert-error
              = @earl.errors
          %fieldset
            %legend Wiki Survey Settings
            .control-group
              %label.control-label{:for => 'question_username'}
                = t('admin.username')
              .controls
                = text_field_tag '', @earl.name, :disabled => true, :id => 'question_username'
            .control-group
              = f.label :pass, t('user.password').html_safe + ' ' + link_to('<i class="glyphicon glyphicon-question-sign"></i>'.html_safe, '#password_explanation', :"data-toggle" => 'modal'), :class => 'control-label'
              .controls
                = f.text_field :pass

            .control-group
              = f.label :welcome_message, ("Welcome message (300 characters max)" + link_to('<i class="glyphicon glyphicon-question-sign"></i>'.html_safe, '#welcome_msg_explanation', :"data-toggle" => 'modal')).html_safe, :class => 'control-label'
              .controls
                = f.text_area :welcome_message, :rows => 5, :cols => 65, :max=> 350, :class => 'input-xxlarge'

            .control-group
              = f.label :welcome_html, ("Welcome Footer HTML"), :class => 'control-label'
              .controls
                = f.text_area :welcome_html, :rows => 5, :cols => 65, :class => 'input-xxlarge'

            .control-group
              = f.label :analysis_config, ("Analysis Config (Paste JSON Here)"), :class => 'control-label'
              .controls{:style => "position: relative;"}
                = f.text_area :analysis_config, :rows => 5, :cols => 65, :class => 'input-xxlarge', :id => 'analysis_config'
                .error-message{:style => "margin-top: 4px;position: absolute; margin-bottom: 16px; font-size: 14px; font-weight: bold; text-align: left; color: #F00;"}
                  %span#json-error-message

            .control-group
              = f.label :target_votes, ("Number of target votes per user"), :class => 'control-label'
              .controls
                = f.text_field :target_votes

            %h3 Theme

            .control-group
              = f.label :theme_color, ("Single theme color"), :class => 'control-label'
              .controls
                = f.text_field :theme_color

            .control-group
              = f.label :theme_scheme, ("Theme scheme"), :class => 'control-label'
              .controls
                = f.select :theme_scheme, options_for_select([['Tonal', 'Tonal'],['Vibrant', 'Vibrant'],['Expressive', 'Expressive'],['Content', 'Content'],['Neutral', 'Neutral'],['Monochrome', 'Monochrome'],['Fidelity', 'Fidelity']], @earl.theme_scheme)

            %h4 Or

            .control-group
              = f.label :theme_primary_color, ("Theme primary color"), :class => 'control-label'
              .controls
                = f.text_field :theme_primary_color

            .control-group
              = f.label :theme_secondary_color, ("Theme secondary color"), :class => 'control-label'
              .controls
                = f.text_field :theme_secondary_color

            .control-group
              = f.label :theme_tertiary_color, ("Theme tertiary color"), :class => 'control-label'
              .controls
                = f.text_field :theme_tertiary_color

            .control-group
              = f.label :theme_neutral_color, ("Theme neutral color"), :class => 'control-label'
              .controls
                = f.text_field :theme_neutral_color

            .control-group
              = f.label :theme_font_css, ("Web font css (optional)"), :class => 'control-label'
              .controls
                = f.text_area :theme_font_css, :rows => 5, :cols => 65, :class => 'input-xxlarge'

            .control-group
              = f.label :default_lang, ("Default language " + link_to('<i class="glyphicon glyphicon-question-sign"></i>'.html_safe, 'http://blog.allourideas.org/post/5137327337/languages-and-all-our-ideas', :target=> '_blank')).html_safe, :class => 'control-label'
              .controls
                = # Have English be the first, but sort the rest
                = f.select :default_lang, [["English", "en"]] + [["French", "fr"], ["Spanish", "es"], ["Portuguese", "pt"], ["Arabic", "ar"], ["Turkish", "tr"], ["Italian", "it"], ["Dutch", "nl"], ["Hebrew", "he"], ["German", "de"], ["Farsi", "fa"], ["Finnish", "fi"], ["Albanian", "sq"], ["Chinese", "zh"], ["Norwegian", "no"], ["Danish", "da"], ["Czech", "cs"], ["Japanese", "ja"], ["Indonesian", "id"]].sort
            #edit-image.control-group
              -if @earl.logo.attached?
                = f.label :logo_file_name, "Replace logo (864x486 px)", :class => 'control-label'
              -else
                = f.label :logo_file_name, "Upload a logo (864x486 px)", :class => 'control-label'
              .controls
                = f.file_field :logo, :accept => "image/png,image/gif,image/jpeg"
              %div{:style => "font-style: italic; margin-top: 8px;margin-bottom: 16px;"}
                = t('questions.image_info')

            .control-group
              .controls
                %label.checkbox
                  = f.check_box :active
                  = f.label :active, "#{t('admin.accept_responses')} #{link_to('', 'http://blog.allourideas.org/post/140411852207/easy-way-to-stop-accepting-responses', :target=> '_blank', :class => 'glyphicon glyphicon-question-sign')}".html_safe
                  = f.check_box :flag_enabled
                  = f.label :flag_enabled, t('admin.allow_flag_as_inappropriate').html_safe + ' ' + link_to('', '#allow_flag_as_inappropriate_exp', :"data-toggle" => 'modal', :class => 'glyphicon glyphicon-question-sign').html_safe
                  = f.check_box :question_should_autoactivate_ideas
                  = f.label :question_should_autoactivate_ideas, t('admin.auto_activate_exp')
                  = f.check_box :show_cant_decide
                  = f.label :show_cant_decide, "#{t('admin.show_cant_decide')}"
                  = f.check_box :show_add_new_idea
                  = f.label :show_add_new_idea, "#{t('admin.show_add_new_idea')}"
                  = f.check_box :hide_results
                  = f.label :hide_results, "#{t('admin.hide_results_from_visitors')} #{link_to('', 'http://blog.allourideas.org/post/133264535527/hide-results-from-your-voters', :target=> '_blank', :class => 'glyphicon glyphicon-question-sign')}".html_safe
            .form-actions
              %button.btn.btn-primary{:type => 'submit'}
                Save changes
              %a.btn{:href => "/#{@earl.name}"}
                Cancel

        %fieldset.download-data{:style => 'display: none;'}
          %legend
            = t('admin.download_idea_marketplace_data')
            %small= link_to('', 'http://blog.allourideas.org/post/2739358388/download-your-data', :target=> '_blank', :class => 'glyphicon glyphicon-question-sign')
          .row-fluid
            .span4.title
              = t('admin.list_of_ideas_csv')
            .span2
              = link_to(t('admin.request'), {:action => :export, :params => {:type => :ideas}}, :"data-toggle" => 'modal-ajax', :class => "btn btn-primary")
          .row-fluid
            .span4.title
              = t('admin.list_of_votes_csv')
            .span2
              = link_to(t('admin.request'), {:action => :export, :params => {:type => :votes}}, :"data-toggle" => 'modal-ajax', :class => "btn btn-primary", :id => "votes_request_link")
          .row-fluid
            .span4.title
              = t('admin.list_of_non_votes_csv')
            .span2
              = link_to(t('admin.request'), {:action => :export, :params => {:type => :non_votes}}, :"data-toggle" => 'modal-ajax', :class => "btn btn-primary")

  #cant-edit-question.modal.hide.fade
    .modal-body
      %p= t('questions.cant_edit_question')
    .modal-footer
      %button.close{:"data-dismiss" => 'modal'} x

  #edit-question.modal.hide.fade
    .modal-header
      %button.close{:"data-dismiss" => 'modal'} x
      %h2= t('questions.edit_question')
    .modal-body
      - form_tag update_name_question_path(@earl), :method => :put do
        %p
          =t('questions.your_current_question_text', :question_text => h(@question.name), :"1" => '<span class="question-name">', :"_1" => '</span>')
        %p
          =t('questions.type_question_prompt')
        = text_area_tag('question[name]', h(@question.name), :rows => 2, :maxlength => 255, :class => 'new_idea_field input-xxlarge', :id => 'edit_question_text')
        %h3.new_idea_counter
    .modal-footer
      %button.btn{:"data-dismiss" => "modal"} Cancel
      %button.btn.btn-primary.new_idea_submit#edit_question_submit{:rel => @question.id}= t('vote.submit')

  #score_explanation.modal.hide.fade
    .modal-header
      %button.close{:"data-dismiss" => 'modal'} x
      %h2= t('items.about_scoring')
    .modal-body
      %p=t('items.score_explain')

  #password_explanation.modal.hide.fade
    .modal-body
      %p= t('admin.password_protect_exp')
    .modal-footer
      %button.close{:"data-dismiss" => 'modal'} x

  #welcome_msg_explanation.modal.hide.fade
    .modal-header
      %button.close{:"data-dismiss" => 'modal'} x
      %h3= "Optional Welcome Message"
    .modal-body
      %p= t('admin.welcome_msg_long_exp')
      %p= t('admin.welcome_msg_long_exp2')

  #allow_flag_as_inappropriate_exp.modal.hide.fade
    .modal-body
      %p= t('admin.allow_flag_as_inappropriate_exp')
    .modal-footer
      %button.close{:"data-dismiss" => 'modal'} x


-content_for :head do
  = javascript_include_tag 'jquery.tablesorter.min.js', 'jquery.blockUI.js'

- content_for :view_javascript do
  $('.tablesorter').tablesorter({ textExtraction : 'complex', headers: { 0: {sorter: 'text'}, 1 : { sorter: 'digit' } , 2 : { sorter: 'text' }, 3 : { sorter: 'text'}, 4 : { sorter: false }, } });
  $('input.widget-embed-code').focus(function(ev) { $(this).select(); ev.preventDefault();});

:javascript
  function checkForJsonError() {
    var analysisConfig =  $('#analysis_config').val();
    try {
      JSON.parse(analysisConfig);
      $('#json-error-message').text('');
    } catch(e) {
      $('#json-error-message').text('Invalid JSON').css('color', '#F00');
    }
  }
  $(document).ready(function() {
    checkForJsonError();
    $('#analysis_config').on('change', function() {
     checkForJsonError();
    });
  });
