= render :partial => 'shared/header_vote'
.ninety
  %table.full
    %tr.row0
      %th
        = @question.attributes['name']
      %th.score= (@header_text = "Status")
      %th &nbsp;
    -alt=false
    -for choice in @choices.sort_by {|x| [(!!x.attributes['active']).to_s, x.data]}
      %tr{:class => "row#{(alt = !alt) ? 1 : 2}"}
        %td.title= link_to truncate(h(choice.data), :length => 137), choice.path
        %td.votes{:id => "choice_#{choice.id}_status"}= choice.active? ? 'Activated' : 'Deactivated'
        -#%td= rank
        -#%td= added
        %td
          -unless @choices.size < 3
            =link_to('[Toggle]', '#', :class => 'toggle_choice_status', :rel => choice.id, :earl_id => @earl.id)
    %tr.row0.thin
      %td{:colspan => 3}
  %br
  
  #explanation{:style => 'display:none;'}
    %h2 About the Scoring
    The scores here are computed as a percentage of votes in which the choice was preferred.