.row.fluid
  .span12
    %h2= t('questions.new.header')
    
    %p
      = t('questions.new.exp')
      = link_to(t('questions.new.see_an'), "/studentgovernment")
      = t('questions.new.exp2')
    - if !logged_in?
      %p
        = ( "#{t('questions.new.if_you_have_an_account')} " + link_to(t('questions.new.here'), sign_in_path) + '.')
    .left.create-question
      -form_for :question, @question, :url => questions_path, :html => {:id => 'new_question_form'} do |f|
        %p
          = f.error_messages :header_message => "#{@question.errors.length} #{t('questions.new.error.header')}"
          - if @user && @user.errors.any?
            #errorExplanation.errorExplanation
              %h2=t('questions.new.error.registration')
              %br
              %ul
                -@user.errors.each do |field, error|
                  - if field =~ /Email/i && error =~ /has already been taken/i
                    %li= t('questions.new.error.already_taken') + " " + link_to(t('questions.new.error.already_taken_link'), '/sign_in')
                  - else
                    %li= "#{field} #{error}".capitalize
      
        %fieldset#step1
          %legend= t('questions.new.step1')
          .control-group
            %label.control-label{:for => 'question_name'}
              = "#{t('questions.new.display_text')}:"
            .controls
              = f.text_field 'name', :size => 60, :placeholder => t('questions.new.step1_exp'), :class => 'required span8', :maxlength => Const::MAX_QUESTION_LENGTH
            = hidden_field_tag 'default_text', t('questions.new.step1_exp')
        
        %fieldset#step2
          %legend= t('questions.new.step2')
          .control-group
            .input-prepend
              %label.add-on{:for => "question_url"}= "http://#{APP_CONFIG[:HOST]}/"
              = f.text_field 'url', :class => 'required span4', :placeholder => (@question && @question.url) || t('questions.new.step2_exp')
            = hidden_field_tag 'default_text2', t('questions.new.step2_exp')
            

        %fieldset#step3
          %legend= t('questions.new.step3')
          .control-group
            %label.control-label{:for => "question_ideas"}
              = t('questions.new.step3_ist')
              = t('questions.new.step3_ist2')
              == #{t('questions.new.step3_ist3')} #{Const::MAX_ITEM_LENGTH} #{t('common.characters')}.
    
            .controls
              = f.text_area 'ideas', :class => 'required span8', :cols => 85, :rows => 12, :placeholder => t('questions.new.step3_exp')
          = hidden_field_tag 'default_text3', t('questions.new.step3_exp')
    
        -unless signed_in?
          
          %fieldset#step4
            %legend= t('questions.new.step4')
            %p
              = t('questions.new.new_account_exp')

            .control-group
              %label.control-label{:for => "question_email"}= "#{t('user.email')}:"
              .controls
                = f.text_field 'email', :size => 30, :class => 'required email span8', :maxlength => Const::MAX_QUESTION_LENGTH
    
            .control-group
              %label.control-label{:for => "question_password"}= "#{t('user.password')}:"
              .controls
                = f.password_field 'password', :class => 'password required span8', :size => 20
    
        %fieldset#step5
          -if signed_in?
            %legend= "Step 4 [#{t('questions.new.optional')}]: #{t('questions.new.help_us_out')}"
          -else
            %legend= "Step 5 [#{t('questions.new.optional')}]: #{t('questions.new.help_us_out')}"
          .control-group
            %label.control-label{:for => "question_information"}
              = t('questions.new.tell_us_why')
              = t('questions.new.tell_us_why2')
            .controls
              = f.text_area 'information', :class => 'span8', :cols => 85, :rows => 12
        
        .form-actions
          %button#question_create_button.btn.btn-large.btn-primary{:type => "submit"}
            = t('form.create')
        
    
    #indicator.indicator{:style => "display:none;"}= image_tag('indicator.gif')

-content_for :view_javascript do
  :plain
    $('#new_question_form').submit(function(){
      $('#indicator').show();
    });
