%h1= t('questions.new.header')
%br
%h2
  = t('questions.new.exp')
  = link_to(t('questions.new.see_an'), "/studentgovernment")
  = t('questions.new.exp2')
%left.create-question
  -form_for :question, @question, :url => questions_path, :html => {:id => 'new_question_form'} do |f|
    %p= f.error_messages :header_message => "#{@question.errors.length} #{t('questions.new.error.header')}"
    
    %h2= t('questions.new.step1')
    %p
      == #{t('questions.new.display_text')}:
      .form_field
        <label class="pre" for="question_name">For example, "Which do you want more from the student government?"</label> 
        = f.text_field 'name', :size => 60, :title => 'For example, "Which do you want more from the student government?"', :class => 'required', :maxlength => Const::MAX_QUESTION_LENGTH
        = hidden_field_tag 'default_text', t('questions.new.step1_exp')
    
    %br
    %h2= t('questions.new.step2')
    %p
      <span style="float:left;top:5px;">http://www.allourideas.org/</span>
      .form_field
        <label class="pre" for="question_url">studentgovernment</label>
      
        = f.text_field 'url', :class => 'required', :title => (@question && @question.url) || t('questions.new.step2_exp'), :size => 25,:style => "float:left;"
        = hidden_field_tag 'default_text2', t('questions.new.step2_exp')
        
    %br
    %h2= t('questions.new.step3')
    %p.ideas
      = t('questions.new.step3_ist')
      %br
      = t('questions.new.step3_ist2')
      %br
      == #{t('questions.new.step3_ist3')} #{Const::MAX_ITEM_LENGTH} #{t('common.characters')}.
      %br
      %br

      = f.text_area 'question_ideas', :class => 'required', :cols => 50, :rows => 12, :title => t('questions.new.step3_exp')
      = hidden_field_tag 'default_text3', t('questions.new.step3_exp')
      %br
      %br
      %br
      %br
      %br
      %br
      %br
      %br
      %br
      %br
    -unless @registered
      
      %h2= "Step 4: Create an Account"
      %p
        Please give us your e-mail and pick a password so that you can get the results and administer your website.
        %br
        %br
        = "E-mail:"
        = f.text_field 'email', :size => 30, :class => 'required email', :title => 'Your E-mail Address', :maxlength => Const::MAX_QUESTION_LENGTH
        %br

        = "Password:"
        = f.password_field 'password', :class => 'required', :size => 20#, :title => "Give us a password you'll remember", :maxlength => Const::MAX_QUESTION_LENGTH

    -if @registered
      %h2= "Step 4 [Optional]: Help Us Out"
    -else
      %h2= "Step 5 [Optional]: Help Us Out"
    %p
      Please tell us a bit about what you are trying to accomplish with All Our Ideas.
      %br
      Also, feel free to let us know anything else we might find interesting (e.g. how you heard about us, how many visitors you're expecting)
      %br
      %br
      = f.text_area 'information', :cols => 50, :rows => 12#, :title => t('questions.new.step3_exp')
    
    -if @registered
      %p= submit_tag t('form.create'), :class => 'form-btn'
    -else
      %p= submit_tag t('form.create'), :class => 'form-btn'
    
    %p=#:value => ((@question && @question.name) || 'For example, "Which do you want more from the student government?"')