= render :partial => 'shared/header_vote'
.ninety
  %table.full
    %tr.row0
      %th
        = @question.attributes['name']
        /== (#{@votes_count} #{t('common.votes_on')} #{@items_count} #{t('common.items')})
      %th.score= (@header_text = "Score") #+ link_to('[?]', "score_items_path(:question_id => @question_id)", :popup => ['status=0,location=0', 'height=200,width=500'])
      %th &nbsp;
      %th &nbsp;
    -alt=false
    -for choice in @choices
      %tr{:class => "row#{(alt = !alt) ? 1 : 2}"}
        %td.title= link_to truncate(h(choice.data), :length => 137), choice.path
        %td.votes= choice.attributes['score'].round.to_s + ' ' + link_to('[?]', '#explanation', :rel => 'facebox')
        -#%td= rank
        -#%td= added
        %td
          .bar-chart
            %div{:style => "width:#{choice.attributes['score']}%"}
    -if !params[:all] and (@question.attributes['choices_count'].to_i > 10)#@items_all || @items_newest
      %tr.row1
        %td{:colspan => 3}
          %strong= link_to(t('nav.see_all_ideas'), @all_results_url)#quick_link('items/all', "items_path(:question_id => @question_id)"))

    %tr.row0.thin
      %td{:colspan => 3}
  %br
  
  %table.full
    %tr.row0
      %th="Data Visualizations"
      %th.score &nbsp;
    %tr.row1#view_voter_map_row
      %td.title="World map of all votes"
      %td.votes 
        = link_to('[View]', url_for(:action => :voter_map), :id => "view_voter_map")
    -if @available_charts
      -@available_charts.each do |type, options|
        %tr{:class => cycle("row2", "row1")}
          %td.title= options[:title]
          %td.votes
            = link_to('[View]', url_for(:action => :timeline_graph, :type => type), :class => 'date-chart')
        %tr{:class => current_cycle , :style => "display:none;"}
          %td.title{:colspan => '2'}
            .chart-container{:id => "#{type}-chart-container"}
      %tr.row1
        %td.title= "Word cloud of ideas"
        %td.votes
          = link_to('[View]', url_for(:action => :word_cloud), :class => 'date-chart')
      %tr.row1{:style => "display:none;"}
        %td{:colspan => '2'}
          .wcdiv.chart-container#wcdiv
      %tr.row2
        %td.title= "Word cloud of ideas weighted by score"
        %td.votes
          = link_to('[View]', url_for(:action => :word_cloud, :type => 'weight_by_score'), :class => 'date-chart')
      %tr.row2{:style => "display:none;"}
        %td{:colspan => '2'}
          .wcdiv.chart-container#wcdiv-weight_by_score

  #explanation{:style => 'display:none;'}
    %h2= t('items.about_scoring')
    =t('items.score_explain')

-content_for :head do
  = render :partial => "shared/highcharts_header"
  = render :partial => "shared/google_jsapi"
  = '<script type="text/javascript" src="http://www.google.com/uds/?file=visualization&v=1"></script>'
  = javascript_include_tag 'google-termcloud.js'
  = stylesheet_link_tag 'google-termcloud'
