= content_for :meta do
  <META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">
= render :partial => 'shared/header_vote'
.row
  .span12
    %table.table.table-striped
      %thead
        %tr
          %th
            = @question.attributes['name']
          %th.score= t('common.score').titleize
          %th &nbsp;
      %tbody
        - @choices.each do |choice|
          %tr
            %td.title= link_to h(truncate(choice.data, :length => 140, :omission => '…')), :action => 'show', :controller => "choices", :id => choice.id, :question_id => @earl.name
            %td.votes= choice.attributes['score'].round.to_s + ' ' + link_to('[?]', '#explanation', :"data-toggle" => 'modal')
            %td.choice-progress
              .progress
                .bar{:style => "width:#{choice.attributes['score']}%"}
.row
  .span12
    -if !params[:all]
      .pagination
        %ul
          = paginated = will_paginate @choices, :previous_label => "«", :next_label => "»", :renderer => ::BootstrapPagination, :container => false
          -if paginated
            %li
              =link_to("View All", :action => :results, :all => true)

.row
  .span12
    %table.table
      %thead
        %tr
          %th=t('results.data_visualizations')
          %th.score &nbsp;
      %tbody
        %tr{:class => cycle("row2", "row1")}
          %td.title= t('results.scatter_ideas_title')
          %td.votes
            = link_to(t('results.view_link'), url_for(:action => :scatter_plot_user_vs_seed_ideas, :type => "scatter_ideas"), :class => 'date-chart')
        %tr{:class => current_cycle , :style => "display:none;"}
          %td.title{:colspan => '2'}
            .chart-container{:id => "#{"scatter_ideas"}-chart-container"}
        %tr{:class => cycle("row2", "row1")}
          %td.title
            = t('results.word_cloud_ideas_title')
            = link_to('[?]', '#word_cloud_exp', :"data-toggle" => 'modal')
          %td.votes
            = link_to(t('results.view_link'), url_for(:action => :word_cloud), :class => 'date-chart')
        %tr{:class => current_cycle , :style => "display:none;"}
          %td{:colspan => '2'}
            .wcdiv.chart-container#wcdiv
        %tr{:class => cycle("row2", "row1")}
          %td.title
            = t('results.word_cloud_weighted_title')
            = link_to('[?]', '#word_cloud_exp', :"data-toggle" => 'modal')
          %td.votes
            = link_to(t('results.view_link'), url_for(:action => :word_cloud, :type => 'weight_by_score'), :class => 'date-chart')
        %tr{:class => current_cycle , :style => "display:none;"}
          %td{:colspan => '2'}
            .wcdiv.chart-container#wcdiv-weight_by_score
        %tr{:class => cycle("row2", "row1")}
          %td.title
            = t('results.word_cloud_uploaded_title')
            = link_to('[?]', '#word_cloud_exp', :"data-toggle" => 'modal')
          %td.votes
            = link_to(t('results.view_link'), url_for(:action => :word_cloud, :type => 'uploaded'), :class => 'date-chart')
        %tr{:class => current_cycle , :style => "display:none;"}
          %td{:colspan => '2'}
            .wcdiv.chart-container#wcdiv-uploaded
        %tr{:class => cycle("row2", "row1")}
          %td.title
            = t('results.word_cloud_uploaded_weighted_title')
            = link_to('[?]', '#word_cloud_exp', :"data-toggle" => 'modal')
          %td.votes
            = link_to(t('results.view_link'), url_for(:action => :word_cloud, :type => 'uploaded_weight_by_score'), :class => 'date-chart')
        %tr{:class => current_cycle , :style => "display:none;"}
          %td{:colspan => '2'}
            .wcdiv.chart-container#wcdiv-uploaded_weight_by_score
        %tr{:class => cycle("row2", "row1")}
          %td.title= t('results.world_map_title')
          %td.votes 
            = link_to(t('results.view_link'), url_for(:action => :voter_map, :type => 'votes'), :class => "view_voter_map")
        -if @available_charts
          -@available_charts.each do |type, options|
            %tr{:class => cycle("row2", "row1")}
              %td.title= options[:title]
              %td.votes
                = link_to(t('results.view_link'), url_for(:action => :timeline_graph, :type => type), :class => 'date-chart', :id => "#{type}-datechart-view-link")
            %tr{:class => current_cycle , :style => "display:none;"}
              %td.title{:colspan => '2'}
                .chart-container{:id => "#{type}-chart-container"}
          -if current_user && current_user.admin?
            %tr{:class => cycle("row2", "row1")}
              %td.title= "View density of votes for this question (super-admin only)"
              %td.votes
                = link_to('[View]', url_for(:action => :density_graph, :type => "density"), :class => 'date-chart')
            %tr{:class => current_cycle , :style => "display:none;"}
              %td.title{:colspan => '2'}
                .chart-container{:id => "#{"density"}-chart-container"}
            %tr{:class => cycle("row2", "row1")}
              %td.title= "View number of ratings of choices by creation time (super-admin only)"
              %td.votes
                = link_to('[View]', url_for(:action => :scatter_num_ratings_by_creation_time, :type => "scatter_num_ideas_by_creation_time"), :class => 'date-chart')
            %tr{:class => current_cycle , :style => "display:none;"}
              %td.title{:colspan => '2'}
                .chart-container{:id => "#{"scatter_num_ideas_by_creation_time"}-chart-container"}
            %tr{:class => cycle("row2", "row1")}
              %td.title= "View number of appearances per choice by choice creation date (super-admin only)"
              %td.votes
                = link_to('[View]', url_for(:action => :choices_by_creation_date, :type => "choice-by-date"), :class => 'date-chart')
            %tr{:class => current_cycle , :style => "display:none;"}
              %td.title{:colspan => '2'}
                .chart-container{:id => "#{"choice-by-date"}-chart-container"}
            %tr{:class => cycle("row2", "row1")}
              %td.title
                = "World Map of bounces (viewed once and then left) (super-admin only)"
                = link_to('[?]', '#bounce_explanation', :"data-toggle" => 'modal')

              %td.votes 
                = link_to(t('results.view_link'), url_for(:action => :voter_map, :type => 'bounces'), :class => "view_voter_map")
            %tr{:class => cycle("row2", "row1")}
              %td.title= "World Map of uploaded ideas (super-admin only)"
              %td.votes 
                = link_to(t('results.view_link'), url_for(:action => :voter_map, :type => 'uploaded_ideas'), :class => "view_voter_map")
            %tr{:class => cycle("row2", "row1")}
              %td.title= "View number of votes per session (super-admin only)"
              %td.votes
                = link_to(t('results.view_link'), url_for(:action => :scatter_votes_by_session, :type => "votes"), :class => 'date-chart')
            %tr{:class => current_cycle , :style => "display:none;"}
              %td.title{:colspan => '2'}
                .chart-container{:id => "#{"scatter_votes_by_session"}-chart-container"}
            %tr{:class => cycle("row2", "row1")}
              %td.title= "View number of skips per session (super-admin only)"
              %td.votes
                = link_to(t('results.view_link'), url_for(:action => :scatter_votes_by_session, :type => "skips"), :class => 'date-chart')
            %tr{:class => current_cycle , :style => "display:none;"}
              %td.title{:colspan => '2'}
                .chart-container{:id => "#{"scatter_skips_by_session"}-chart-container"}
            %tr{:class => cycle("row2", "row1")}
              %td.title= "View number of votes vs number of skips per session (super-admin only)"
              %td.votes
                = link_to(t('results.view_link'), url_for(:action => :scatter_votes_vs_skips, :type => "skips"), :class => 'date-chart')
            %tr{:class => current_cycle , :style => "display:none;"}
              %td.title{:colspan => '2'}
                .chart-container{:id => "#{"scatter_votes_vs_skips"}-chart-container"}
            %tr{:class => cycle("row2", "row1")}
              %td.title= "View number of skips per day (super-admin only)"
              %td.votes
                = link_to(t('results.view_link'), url_for(:action => :timeline_graph, :type => "skips"), :class => 'date-chart')
            %tr{:class => current_cycle , :style => "display:none;"}
              %td.title{:colspan => '2'}
                .chart-container{:id => "skips-chart-container"}
            %tr{:class => cycle("row2", "row1")}
              %td.title= "View choice score vs total votes (super-admin only)"
              %td.votes
                = link_to(t('results.view_link'), url_for(:action => :scatter_score_vs_votes), :class => 'date-chart')
            %tr{:class => current_cycle , :style => "display:none;"}
              %td.title{:colspan => '2'}
                .chart-container{:id => "scatter_score_vs_votes-chart-container"}
  #explanation.hide.modal.fade
    .modal-header
      %button.close{:"data-dismiss" => "modal"}x
      %h2= t('items.about_scoring')
    .modal-body
      =t('items.score_explain')

  #word_cloud_exp.hide.modal.fade
    .modal-header
      %button.close{:"data-dismiss" => "modal"}x
      %h2= t('results.about_word_cloud')
    .modal-body
      =t('results.word_cloud_exp')
  
  -if current_user && current_user.admin?
    #bounce_explanation.hide.modal.fade
      .modal-header
        %button.close{:"data-dismiss" => "modal"}x
        %h2= "About Bounces"
      .modal-body
        %p A bounce is defined as a session that has seen exactly one appearance and taken no other action on our site (one 'click' on our site).
        %p So if a user refreshes the page after visiting (generates another appearance) they would no longer be considered a bounce.
        %p Another example:  a user that views the voting page, then view results, then leaves, would not be considered a bounce.
        %p Note that this may not be 100% accurate because of the way that firefox save cookies past their intended expiration date.

-content_for :head do
  = render :partial => "shared/highcharts_header"
  = render :partial => "shared/google_jsapi"
  = '<script type="text/javascript" src="http://www.google.com/uds/?file=visualization&v=1"></script>'
  = javascript_include_tag 'google-termcloud.js'
  = stylesheet_link_tag 'google-termcloud'
  :javascript
    var results_view_text = function(){ return "#{t('results.view_link')}";};
    var results_close_text = function(){ return "#{t('results.close_link')}";};
