= content_for :meta do
  <META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">
= render :partial => 'shared/header_vote'
.tab-content.question-results
  .interior-content
    .row-fluid
      .span12
        %h2= @question.attributes['name']
        %table.table.table-striped.ideas-table
          %thead
            %tr
              %th
                %h4= t('common.ideas').titleize
              %th.score
                %h4
                  = t('common.score').titleize + " (0 - 100)"
                  = link_to('', '#score_explanation', :"data-toggle" => 'modal', :class => 'glyphicon glyphicon-question-sign')
              %th &nbsp;
          %tbody
            - @choices.each do |choice|
              %tr
                %td.title= link_to h(truncate(choice.data, :length => 140, :omission => '…')), question_choice_url(@earl.name, choice), :"data-toggle" => "modal-ajax"
                %td.span4.choice-progress
                  .hidden-phone.progress.progress-gray
                    .bar{:style => "width:#{choice.attributes['score']}%"}
                  .score
                    - unless choice.attributes['score'].nil?
                      %strong= choice.attributes['score'].round.to_s
                    - else
                      = "N/A"
    .row-fluid
      .span12
        -if !params[:all]
          .pagination
            %ul
              = paginated = will_paginate @choices, :previous_label => "«", :next_label => "»", :renderer => ::BootstrapPagination, :container => false
              -if paginated
                %li
                  =link_to("View All", :action => :results, :all => true)

    .row-fluid
      #data-vis.span12
        %h3.data-vis-header
          = link_to t('results.analytics_and_promptions'), "/analytics-and-promotion/#{@earl.name}"

  #score_explanation.hide.modal.fade
    .modal-header
      %button.close{:"data-dismiss" => "modal"}x
      %h2= t('items.about_scoring')
    .modal-body
      =t('items.score_explain')

  #word_cloud_exp.hide.modal.fade
    .modal-header
      %button.close{:"data-dismiss" => "modal"}x
      %h2= t('results.about_word_cloud')
    .modal-body
      =t('results.word_cloud_exp')

  -if current_user && current_user.admin?
    #bounce_explanation.hide.modal.fade
      .modal-header
        %button.close{:"data-dismiss" => "modal"}x
        %h2= "About Bounces"
      .modal-body
        %p A bounce is defined as a session that has seen exactly one appearance and taken no other action on our site (one 'click' on our site).
        %p So if a user refreshes the page after visiting (generates another appearance) they would no longer be considered a bounce.
        %p Another example:  a user that views the voting page, then view results, then leaves, would not be considered a bounce.
        %p Note that this may not be 100% accurate because of the way that firefox save cookies past their intended expiration date.

-content_for :head do
  = render :partial => "shared/google_jsapi"
  = '<script type="text/javascript" src="http://www.google.com/uds/?file=visualization&v=1"></script>'.html_safe
  = javascript_include_tag 'google-termcloud.js'
  = stylesheet_link_tag 'google-termcloud'
  :javascript
    var results_view_text = function(){ return "#{t('results.view_link')}";};
    var results_close_text = function(){ return "#{t('results.close_link')}";};
