    <link rel="stylesheet" type="text/css" href="http://visapi-gadgets.googlecode.com/svn/trunk/wordcloud/wc.css"/>
    <script type="text/javascript" src="http://visapi-gadgets.googlecode.com/svn/trunk/wordcloud/wc.js"></script>
    <script type="text/javascript" src="http://www.google.com/jsapi"></script>
    <script type="text/javascript" src="http://www.google.com/uds/?file=visualization&v=1"></script>
    <%= javascript_include_tag 'google-termcloud.js' %>
    <%= stylesheet_link_tag 'google-termcloud' %>
    <div id="<%= @target_div %>">
      <%= t('results.no_data_error') if @word_frequency.size == 0%>
    </div>
    <script type="text/javascript">
      google.load('visualization');
     <%-@word_frequency.each_with_index do |(word, count), index| -%>
        <%- if word -%>
     <%- @word_cloud_js += "thedata.setCell(#{index}, 0, \"#{escape_javascript(word)}\");\n" -%>
     <%- @word_cloud_js += "thedata.setCell(#{index}, 1, #{count});\n" -%>
     <%- @word_cloud_js += "thedata.setCell(#{index}, 2, '');\n" -%>
        <%- end -%>
     <%- end -%>
  <%- @word_cloud_js += @word_cloud_end -%>
  <%= @word_cloud_js %>
    </script>
