= content_for :meta do
  <META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">
  %meta{:property => 'og:title', :content => "#{h @question.name}"}
  -if @earl && !@earl.logo_file_name.nil?
    %meta{:property => 'og:image', :content => "#{request.protocol}#{request.host_with_port}" + image_path(@earl.logo.url)}
  
-@item_data, @item_ids = [], []
= render :partial => 'shared/header_vote', :locals => {:question => @question}

.row.votebox
  .span12
    %table.full
      %tr
        %td{:colspan => 3}= rounded(@question.attributes['name'], 'border')
      %tr.prompt.prompter
        %td.half.idea.left.vote_cell{:rel => @question.id, :id => "left_choice_cell"}
          = rounded(render(:partial => 'questions/idea', :locals => {:data => @left_choice_text, :side => "leftside", :choice_id => @left_choice_id}), 'round-filled')
        %td
        %td.idea.right.vote_cell{:rel => @question.id, :id => "right_choice_cell"}
          = rounded(render(:partial => 'questions/idea', :locals => {:data => @right_choice_text, :side => "rightside", :choice_id => @right_choice_id}), 'round-filled')
      -if @earl.flag_enabled?
        %tr
          %td.fleft.no_bottom_padding
            = link_to(t('vote.flag_as_inappropriate'), "#flag_inappropriate", :id => 'left_flag', :class=> 'flag_link', :"data-toggle" => 'modal')
          %td.no_bottom_padding
          %td.fright.no_bottom_padding
            = link_to(t('vote.flag_as_inappropriate'), "#flag_inappropriate", :id => 'right_flag',:class => 'flag_link', :"data-toggle" => 'modal')
.row.votebox
  .span12
    %table.vote-footer
      %tr
        %td &nbsp; 
        %td.rounded{:id => I18n.locale == 'fr' ? 'cd_button' : 'cd_button_fr'}
          =link_to(t('vote.cant_decide'), "#cant_decide_options", :id => "cant_decide_btn", :"data-toggle" => 'modal')
        %td
          - if !@earl.flag_enabled?
            = render :partial => 'vote_idea_count', :locals => {:question => @question}
          -else
            &nbsp;
.row
  .span12
    %center.add_container
      .add_idea
        = render :partial => 'items/form', :locals => {:the_ab_test_name => @ab_test_ideas_text_name}
      %br
      #indicator.indicator{:style => "display:none;"}= image_tag('indicator.gif')
      .tellmearea
        -# TODO delete this section, not being used
        -if @winner
          -if @skip
            == #{t('vote.you_skipped_both')} #{link_to(@winner, item_path(@winner_id, :question_id => @question_id))} #{t('common.and')} #{link_to(@loser, item_path(@loser_id, :question_id => @question_id))}
          -else
            = t('vote.you_chose_winner_over_loser', :winner => link_to(@winner, item_path(@winner_id, :question_id => @question_id)), :loser => link_to(@loser, item_path(@loser_id, :question_id => @question_id))) + '.'
        -elsif flash[:v_notice]
          %p.vote-notice#v_notice= flash[:v_notice]
          = javascript_tag "setTimeout(function() { $('#v_notice').fadeOut(1000); }, 3000);"
        -elsif flash[:v_error]
          %p.error#v_error= flash[:v_error]
          = javascript_tag "setTimeout(function() { $('#v_error').fadeOut(1000); }, 3000);"
        %p.error#length_error{:style => "display:none"}== #{t('items.new.too_long')} #{Const::MAX_ITEM_LENGTH} #{t('common.characters')}.

#cant_decide_options.hide.modal.fade
  .modal-header
    %button.close{:"data-dismiss" => 'modal'} x
    %h2= t('vote.cant_decide_title')
  .modal-body
    .row
      .span6
        -cd_options= ['like_both', 'both_same', 'dont_know_both', 'dislike_both', 'dont_know_left', 'dont_know_right', 'other']
        .cd_options
          - cd_options.each_slice(2) do |choices|
            .row
              - choices.each do |choice|
                .span3
                  %p
                    %button.btn.btn-primary{:class => choice, :'data-questionid' => @question.id, :"data-reason" => choice, :"data-dismiss" => 'modal'}
                      =t('vote.cd_'+choice)
                      - if choice == 'dont_know_left' 
                        .leftside
                          %em= h(@left_choice_text)
                      - elsif choice == 'dont_know_right'
                        .rightside
                          %em= h(@right_choice_text)

-if @earl.flag_enabled?
  #flag_inappropriate.hide.modal.fade
    .modal-body
      %p= t('vote.please_explain_flag')
      =text_area_tag 'inappropriate_reason', "", :cols => 55
    .modal-footer
      %a.btn{:"data-dismiss" => 'modal'}
        =t('user.close')
      %button.btn.btn-primary{:"data-question_id" => @question.id}
        =t('vote.submit')

-if @ab_show_average == "with_average"
  #average_votes{:style => 'display:none'}
    = "(average is #{@question.attributes['average_votes']})"

=hidden_field_tag 'prompt_id', @question.attributes['picked_prompt_id']
=hidden_field_tag 'appearance_lookup', @question.attributes['appearance_id']

=hidden_field_tag 'left_side_text', "blank_history"
=hidden_field_tag 'right_side_text', "blank_history"

-if params[:just_created]
  = render :partial => 'adwords_conversion'

-content_for :head do
  = javascript_include_tag 'facebox', 'jquery.corner', 'jquery.blockUI.js'
  = stylesheet_link_tag 'facebox'
      

-content_for :view_javascript do
  $.facebox.settings.opacity = 0.5;
  $('a[rel*=facebox]').facebox();
  $('.rounded').corner('5px');
  if (!($.browser.msie && parseInt($.browser.version, 10) < 8)) {
  // IE 6 and 7 have problems with the rounded corners and facebox
  $('.rounded-facebox').corner('5px');
  }
  $('#facebox').draggable();
  = "var SHOW_AVERAGE_VOTES = '#{@ab_show_average}';"
  -unless session[:has_voted]
    :plain
      $('.firsttime').fadeIn(2000)
      $('.firsttime, #close, .vote_cell').bind("click", function() {
        $(".firsttime").fadeOut(500);
      });
  =render :partial => 'vote_box_js' 
