<%- include('../header.html.ejs') %>

<h2 style="font-weight: 600;line-height: 1.1em;margin: 0;font-size: 14pt;padding-top: 8px;">
  <%- header %>
</h2>

<p style="margin-top: 8px;margin-bottom: 8px;">
  <%- content %>
</p>

<p style="margin-top: 5px;padding-top: 8px;">
  <%- link %>
</p>

<%- include('../footer.html.ejs') %>
