<%- include('../header.html.ejs') %>

<h1 style="font-weight: 600;line-height: 1.1em;margin: 0;font-size: 14pt;"><%= t('notification.email.welcome_1') %></h1>
<h2 style="font-weight: 600;line-height: 1.1em;margin: 0;font-size: 12pt;"><%= t('notification.email.welcome_settings') %></h2>
<p style="margin-top: 5px;"><%= t('notification.email.welcome_2') %></p>
<h2 style="font-weight: 600;line-height: 1.1em;margin: 0;font-size: 12pt;"><%= t('notification.email.welcome_start_now') %></h2>
<p style="margin-top: 5px;"><%= t('notification.email.welcome_3') %></p>

<%- include('../footer.html.ejs') %>