  /* Tabbing functionality */

  /* A general tabbing function: */  
  switch_tabs = function(event) {
    $('.current').hide();

    $('.current_tab').removeClass('current_tab');  
    $('.current').removeClass('current');

    if ($(this).hasClass('about_tab')) {
      $('#about').addClass('current');
    }
    else if ($(this).hasClass('vote_tab')) {
      $('#cast_votes').addClass('current');
    }
    else if ($(this).hasClass('results_tab')) {
      $('#results').addClass('current');
    }
    else {  //  must have clicked return to voting
      $('.vote_tab').addClass('current_tab');   
      $('#cast_votes').addClass('current');
    }

    $(this).addClass('current_tab'); 
    $('.current').show();

    return false;
  };

  $('.tab').click(switch_tabs);
  $('.return_voting').click(switch_tabs);

  $('#view_results_link').click(function(event) {
     alert($(this).attr("href"));
     $.get($(this).attr("href"), function(data) { 
         $('#render_spot').html(data)
	 });
    //This is where we should bind the question mark  
  })

  var loadedTime = new Date();
  var count = 0;

  //  har... we want to launch the text area when add idea button is clicked */
  $('.add_idea_button.rounded').click(function() {
    $('.vote-footer').hide();      
    $('.add_container').hide();
    $('#the_add_box').show();  

    return false;
  });

  //  modify to eliminate facebox stuff
  on_idea_submit_button_click = function(event){		
    var new_idea = $('#new_idea_field').val();        
    var default_text = $('#default_text').val()
    $('.example_notice').hide();
    
    //if new idea is blank or longer than 140 characters, do not allow it to submit
    if ((new_idea == 'Add your own idea here...') || (new_idea == '') || new_idea == default_text) {
        event.returnValue = false;
      	alert('<%=t('vote.submit_idea_default_error') %>');
        return false;
    }
    if (new_idea.length > 140) {
        alert('<%=t('vote.submit_idea_too_long_error') %>');
        event.returnValue = false;
        return false;
    }

    $('#initial_notice').hide();            /* har*/
    $('#the_add_box').hide();               /* har*/
    $('.vote-footer').show();      
    $('.add_container').show();
	  $('.indicator').show();
    $('#new_idea_field').val('');           /* har... could do default text here, but then the text has to actually be deleted*/

    //  append this for scrolling funtionality... har
    $('.tellmearea').prepend("<div id = \"newlines\" style=\"display:none\"> <br><br></div>");
    $('#newlines').slideDown(1000);

    $.blockUI({ message: null, fadeIn: 0, fadeOut:  0, overlayCSS:  { 
        backgroundColor: '#000', 
        opacity:         0.0,
        cursor:    null
     }});
    
    var question_id = $(this).attr("rel");
		
    $.post('/questions/' + question_id + '/add_idea.js' + '?locale=<%= I18n.locale %>',
        'authenticity_token='+encodeURIComponent(AUTH_TOKEN)+'&new_idea='+new_idea,
        function(data){
          $.unblockUI();

          /* har*/
          $('#newlines').remove();
          /*har... these next lines are me... decided i didn't want view all the results anymore */
  
          //  NOTE: NEED TO BREAK UP DATA[MESSAGE] SUCH THAT MESSAGE IS ON ONE LINE AND IDEA IS ON THE NEXT. ALSO NEED TO TRUNCATE IDEA.
          $('.tellmearea').prepend("<div id = \"tellme_prepended\"" + count + ">" + data["message"] + "</a></div><br/>");
          $("#tellme_prepended").effect("highlight", {}, 1500);
          count++;

          $("#leveling_message_appended").remove();
          $('.leveling_message').append("<div id = \"leveling_message_appended\">" + data["leveling_message"] + "</div>");

          $('.indicator').hide();
        
          if (data['choice_status'] == 'active') {
            current_item_count = $('#item_count').html();
            $('#item_count').html(increment(current_item_count));
          }
	  else{
            $('<p> <%= t('vote.idea_sent_for_review') %> </p>').insertBefore('#facebox #new_idea_field');
            $('#facebox .new_idea_submit').html('<%= t('vote.cast_votes') %>');
            $('#facebox .new_idea_submit').unbind('click');
          }

        },
        "json"
      );
      return false;
    };

  //  bind to idea submit button
  $('#submit_btn').bind('click', on_idea_submit_button_click);

  //  bind to idea close and flag inappropriate close button
  $('.close').bind('click', function(event) {
    $('#the_add_box').hide();               /* har*/
    $('#flag_inappropriate').hide();
    $('.vote-footer').show();      
    $('.add_container').show();
  });

  $('.flag_close').bind('click', function(event) {
    //  Remove in case it's still there (flag stuff)
    $('#new_flag_field').val('');
  });

  //  bind to voting, this is messed up in ie6
  $('.vote_cell').bind('click',function(event){

    //  Remove this stuff when somebody votes in case it's still there (add idea stuff)
    $('#the_add_box').hide();               /* har*/
    $('.add_idea_button.rounded').show();   /* har*/

    //  Remove in case it's still there... same as above (can't decide stuff)
    $('.add_container').show();
    $('.vote-footer').show();
    $('#cant_decide_options').hide();

    //  Remove in case it's still there... same as above (flag stuff)
    $('#new_flag_field').val('');

    var currentTime = new Date();
	  var time_viewed = currentTime - loadedTime

    $('#initial_notice').hide();            /* har*/
	  $('.example_notice').hide();

	  // TODO refactor to use url_for in rails
	  var the_id = $(this).attr("id");
	  var the_locale = "<%= I18n.locale %>"

	  var winner_side = (the_id == "left_choice_cell") ? "left" : "right";
	  var loser_side = (the_id == "left_choice_cell") ? "right" : "left";

	  var question_id = $(this).attr("rel");

	  var loser_link = $('a#' + loser_side + 'side');
	  var winner_link = $('a#' + winner_side + 'side');

    var loserString = loser_link.html();
    var winnerString = winner_link.html();

	  var loser_url = "/" + loser_link.attr("question_slug") + "/choices/" + loser_link.attr("choice_id");
    var winner_url=  "/" + winner_link.attr("question_slug") + "/choices/" + winner_link.attr("choice_id");
	

	  if(the_locale != 'en'){
	    loser_url += '?locale=' + the_locale;
	    winner_url += '?locale=' + the_locale;
	  }
	    

	  var loser = "<a href='" + loser_url +  "'>" + loser_link.html() + "</a>";
	  var winner = "<a href='" + winner_url + "'>" + winner_link.html() + "</a>";	
		
	  var prompt_id = $('#prompt_id').val()
	  var appearance_lookup = $('#appearance_lookup').val()
	  $.ajax({
	     type: "post",
	     url: '/questions/' + question_id + '/prompts/' + prompt_id + '/vote.js' + '?locale=' + the_locale,
	     dataType: "json",
	     data: {
		   'authenticity_token' : encodeURIComponent(AUTH_TOKEN),
		   'time_viewed' : time_viewed,
		   'prompt_id': prompt_id,
		   'appearance_lookup': appearance_lookup,
		   'direction' : winner_side
		   },
	     beforeSend: function() {
	         $.blockUI({ message: null, fadeIn: 0, fadeOut:  0, overlayCSS:  { 
	                 backgroundColor: '#000', 
		         opacity:         0.0
	         }});

        $('.indicator').show();    // was here b4

        //  append this for scrolling funtionality... har
        if (count != 0) {
          $('.tellmearea').prepend("<div id = \"newlines\" style=\"display:none\"> <br><br></div>");
          $('#newlines').slideDown(1000);
        }

	     },
	     timeout: 10000,
	     error: function(request,error) {
		       $.unblockUI();
		       $('.indicator').hide();
		       if (error == "timeout") {
		         $('.tellmearea').prepend("<div id = \"error_prepended\"> <%= t('vote.vote_timeout_error')%></div>");
		         $('.tellmearea').html('<%= t('vote.vote_timeout_error')%>').effect("highlight", {color: '#ff0000'}, 1500);
             count++;
		       }
		       else {
		         $('.tellmearea').prepend("<%= t('vote.vote_other_error') %>").effect("highlight", {color: '#ff0000'}, 1500);
		         $('.tellmearea').prepend("<div id = \"error_prepended\"> <%= t('vote.vote_other_error')%></div>");
		         $('.tellmearea').html("<%= t('vote.vote_other_error') %>").effect("highlight", {color: '#ff0000'}, 1500);
             count++;
		       }

		       loadedTime = new Date(); //reset loaded time

	     },
	     success: function(data){
		  $.unblockUI();
		  $('.indicator').hide();
		  $('.leftside').html(data["newleft"]);
		  $('.rightside').html(data["newright"]);
		
		  //used for fraud detection / back button behavior fixing
		  $('#left_side_text').val(data["newleft"]);
		  $('#right_side_text').val(data["newright"]);

		  $('#prompt_id').val(data["prompt_id"]);
		  $('#appearance_lookup').val(data["appearance_lookup"]);

      var maxLength = 45;

      if (winnerString.length > maxLength) {
        //winner = "<a href='" + winner_url + "'>" + winner.substring(0, maxLength - 3) + "..." + "</a>";	
        winnerString = winnerString.substring(0, maxLength - 3) + "...";
      }

      if (loserString.length > maxLength) {
        //loser = "<a href='" + loser_url + "'>" + loser.substring(0, maxLength - 3) + "..." + "</a>";	
        loserString = loserString.substring(0, maxLength - 3) + "...";
      }

      /* har*/
      $('#newlines').remove();
      /*har... these next lines are me... decided i didn't want view all the results anymore */
      if (count == 0)   //  don't want line break at end if this is our first prepend
        $('.tellmearea').prepend("<div id = \"tellme_prepended\"" + count + ">" + "<%= t('vote.you_chose')%> " + "<span class = \"idea_result\">" + winnerString + "</span><br />" + " <%=t('vote.over') %> " + "<span class = \"idea_result\">"  + loserString + "</span></div>");
      else
        $('.tellmearea').prepend("<div id = \"tellme_prepended\"" + count + ">" + "<%= t('vote.you_chose')%> " + "<span class = \"idea_result\">" + winnerString + "</span><br />" + " <%=t('vote.over') %> " + "<span class = \"idea_result\">"  + loserString + "</span></div><br/>");

      $("#tellme_prepended").effect("highlight", {}, 1500);
      count++;

      $("#leveling_message_appended").remove();
      $('.leveling_message').append("<div id = \"leveling_message_appended\">" + data["leveling_message"] + "</div>");

		  current_vote_count = $('#votes_count').html();
		  $('#votes_count').html(increment(current_vote_count));

		  $(".votebox tr.prompt td.idea").each(function(el) {
		        $([$(this).children(".round-filledfg"), $(this).children(".round-filled").children()]).each(function(el) {
			          $(this).css("background", "#3198c1");
			          $(this).css("border-left", "1px solid #3198c1");
			          $(this).css("border-right", "1px solid #3198c1");
					      $(this).bind("mouseover", function() {
					        $([$(this).children(".round-filledfg"), $(this).children(".round-filled").children()]).each(function(el) {
					          $(this).css("background", "#2b88ad");
					          $(this).css("border-left", "1px solid #2b88ad");
					          $(this).css("border-right", "1px solid #2b88ad");
					        });
					      });
					      $(this).bind("mouseout", function() {
					        $([$(this).children(".round-filledfg"), $(this).children(".round-filled").children()]).each(function(el) {
					          $(this).css("background", "#3198c1");
					          $(this).css("border-left", "1px solid #3198c1");
					          $(this).css("border-right", "1px solid #3198c1");
					        });
					      });
				      });
				  });

		                  loadedTime = new Date() //reset loaded time
		  }// End success
	       }); // End ajax method
	    return false;
	  });
 
  // bind to can't decide
  $('#cant_decide_btn').bind('click', function() { 

    //  hide/show everything necessary
    //  cd stuff
    $('.vote-footer').hide();      
    $('#cant_decide_options').show();
    $('.add_container').hide();

    $('.close').bind('click', function() {
      //  make the right stuff reappear/rehide/work
      $('.vote-footer').show();      
      $('#cant_decide_options').hide();
      $('.add_container').show();   
    });
    return false;
  });
      
  $('.cd_submit_button').bind('click',function(event) {
      
    var reason = $('input[name=cant_decide_reason]:checked').val();

    //check that some radio button is selected before closing facebox...
  	if (!reason) {
      alert("You must select a reason");
      return -1;
  	}
      
  	if(reason == 'user_other'){
      user_text = $('input[name=reason_text]').val()
      if(!user_text){
        alert("You must include an explanation");
        return -1;
      }
    reason += ":" + user_text;
  	}

    //  make the right stuff reappear/rehide/work
    //  cd stuff
    $('.vote-footer').show();      
    $('#cant_decide_options').hide();

    //  idea/other stuff... 
    $('.add_container').show();
    $('#initial_notice').hide();            /* har*/

    //  Remove in case it's still there (flag stuff)
    $('#new_flag_field').val('');
	
    
    var currentTime = new Date();
    var time_viewed = currentTime - loadedTime
    $('.example_notice').hide();
   //$.setFragment({ "page" : $.queryString(this.href).page });

    $('.indicator').show();

    //  append this for scrolling funtionality... har
    $('.tellmearea').prepend("<div id = \"newlines\" style=\"display:none\"> <br></div>");
    $('#newlines').slideDown(1000);

	  var prompt_id = $('#prompt_id').val()
	  var appearance_lookup = $('#appearance_lookup').val()
	  $.blockUI({ message: null, fadeIn: 0, fadeOut:  0, overlayCSS:  { 
	           backgroundColor: '#000', 
	           opacity:         0.0,
	           cursor:    null
	      }});
	  var question_id = $(this).attr("rel");
	  $.post('/questions/' + question_id + '/prompts/' + prompt_id + '/skip.js',
	     {
		   'authenticity_token' : encodeURIComponent(AUTH_TOKEN),
		   'cant_decide_reason' : reason, 
		   'time_viewed' : time_viewed,
		   'appearance_lookup': appearance_lookup
		   },

		      function(data){
            /*har... these next lines are me... decided i didn't want view all the results anymore */
            $('#newlines').remove();
            $('.tellmearea').prepend("<div id = \"tellme_prepended\"" + count + ">" + data["message"] + "</a></div><br/>");
            $("#tellme_prepended").effect("highlight", {}, 1500);
            count++;

            $("#leveling_message_appended").remove();
            $('.leveling_message').append("<div id = \"leveling_message_appended\">" + data["leveling_message"] + "</div>");

			      $('.indicator').hide();
			      $.unblockUI();
			      $('.leftside').html(data["newleft"]);
			      $('.rightside').html(data["newright"]);
		        $('#prompt_id').val(data["prompt_id"]);
		        $('#appearance_lookup').val(data["appearance_lookup"]);
	          //clear the radio buttons somehow?
		        loadedTime = new Date() //reset loaded time

            $('radio_button:checked').val(false);
			
		      },
		      "json"
    );
	return false;
	});


  $('.flag_link').bind("click", function(event){

    //  hide/show everything necessary
    //  cd stuff
    $('.vote-footer').hide();      
    $('.add_container').hide();
    $('#flag_inappropriate').show();
    
    event.stopPropagation();
    event.preventDefault();

  });

  $('.flag_submit_button').bind("click", function(event) {

    var flag_side = $(this).attr('id');
    event.stopPropagation();
    user_text = null;
    user_text = $('#flag_inappropriate textarea').val();
	  if(!user_text) {
	    alert("You must include an explanation");
	    return false;
  	}

    //  make the right stuff reappear/rehide/work
    //  cd stuff
    $('.vote-footer').show();      
    $('#flag_inappropriate').hide();
    $('#new_flag_field').val('');

    //  idea/other stuff... 
    $('.add_container').show();
    $('#initial_notice').hide();            /* har*/
	
    var currentTime = new Date();
    var time_viewed = currentTime - loadedTime
	  $('.example_notice').hide();

    //  append this for scrolling funtionality... har
    $('.tellmearea').prepend("<div id = \"newlines\" style=\"display:none\"> <br></div>");
    $('#newlines').slideDown(1000);

    $('.indicator').show();
    var prompt_id = $('#prompt_id').val();

    var appearance_lookup = $('#appearance_lookup').val();
	  $.blockUI({ message: null, fadeIn: 0, fadeOut:  0, overlayCSS:  { 
      backgroundColor: '#000', 
	    opacity:         0.0,
	    cursor:    null
		}});

    var question_id = $(this).attr("rel");
    $.post('/questions/' + question_id + '/prompts/' + prompt_id + '/flag.js', 
    {
	    'authenticity_token' : encodeURIComponent(AUTH_TOKEN),
	    'flag_reason' : user_text,
	    'time_viewed' : time_viewed,
	    'prompt_id': prompt_id,
	    'side': flag_side,
	    'appearance_lookup': appearance_lookup
	  },

		function(data) {
	   if(data["error"]){
       window.location.replace(data["redirect"]);
     }
		 else {
       $('#newlines').remove();
       $('.tellmearea').prepend("<div id = \"tellme_prepended\"" + count + ">" + data["message"] + "</a></div><br/>");
       $("#tellme_prepended").effect("highlight", {}, 1500);
       count++;

       $("#leveling_message_appended").remove();
       $('.leveling_message').append("<div id = \"leveling_message_appended\">" + data["leveling_message"] + "</div>");

       $('.indicator').hide();
       $.unblockUI();
		   $('.leftside').html(data["newleft"]);
		   $('.rightside').html(data["newright"]);
		   $('#prompt_id').val(data["prompt_id"]);
		   $('#appearance_lookup').val(data["appearance_lookup"]);
		   current_item_count = $('#item_count').html();
		   $('#item_count').html(decrement(current_item_count));
		   loadedTime = new Date() //reset loaded time
		 }
		},
  "json"
	);
	return false;
 	});
