-@the_id = params[:question_id].nil? ? params[:id] : params[:question_id]

//  Navigation bar
= render :partial => 'shared/header_vote', :locals => {:question => @question}
#cast_votes.current
  = render 'cast_votes.html.haml'
#results{:style => 'display:none'}
  .scrollbar_container#render_spot{:style => 'overflow:auto;'}
  //  = render 'questions/results.html.haml'
  .bottom_status.link_style
    &nbsp
    .bottom_padding.fleft
      /* Use a table here to fix a small issue with a non-linking space after the first link */
      %table{:border => 0, :cellpadding => 0}
        %td= link_to(t('nav.view_more_results_widget'), @results_url, :target => '_blank') #+ ' ' + image_tag('widget/outgoing_link.png'), @results_url, :target => '_blank')
        %td= link_to(image_tag('widget/lpadded_outgoing_link.png'), @results_url, :target => '_blank')
        //= link_to(image_tag("/facebox/closelabel.gif",:title => "close",  :class => "close_image"), {:anchor => ""}, :class => "close")
    //  add the last two tab classes below to make use of already existing javascript
    %a.bottom_padding.fright.return_voting{:href => '#page1'}= t('nav.return_voting_widget');
#about{:style => 'display:none'}
  = render 'questions/about.html.haml'
