-@the_id = params[:question_id].nil? ? params[:id] : params[:question_id]

//  Navigation bar
= render :partial => 'shared/header_vote', :locals => {:question => @question}

#cast_votes.current
  = render 'cast_votes.html.haml'

#results{:style => 'display:none'}
  .scrollbar_container#render_spot{:style => 'overflow:auto;'}
  //  = render 'questions/results.html.haml'
  .bottom_status.link_style
    %span.bottom_padding
      /* Use a table here to fix a small issue with a non-linking space after the first link */
      %table.fleft{:border => 0, :cellpadding => 0}
        %td{:style => 'padding-left: 5px;'}= link_to(t('nav.view_more_results_widget'),"http://www.allourideas.org" +  @results_url, :target => '_blank', :id => 'view_more_results')
        %td= link_to(image_tag('widget/lpadded_outgoing_link.png'), "http://www.allourideas.org" + @results_url, :target => '_blank')
    %span
      %a.bottom_padding.fright.return_voting{:href => '#page1'}= t('nav.return_voting_widget');

#about{:style => 'display:none'}
  = render 'questions/about.html.haml'
