-@the_id = params[:question_id].nil? ? params[:id] : params[:question_id]

//  Navigation bar
= render :partial => 'shared/header_vote', :locals => {:question => @question}
#cast_votes.current
  = render 'cast_votes.html.haml'
#results{:style => 'display:none'}
  .scrollbar_container#render_spot{:style => 'overflow:auto;'}
  //  = render 'questions/results.html.haml'
  .bottom_status.link_style
    &nbsp
    .bottom_padding.fleft
      = link_to(t('nav.view_more_results_widget') + ' ' + image_tag('widget/outgoing_link.png'), @results_url, :target => '_blank')
      //= link_to(image_tag("/facebox/closelabel.gif",:title => "close",  :class => "close_image"), {:anchor => ""}, :class => "close")
    //  add the last two tab classes below to make use of already existing javascript
    %a{:href => '#page1'}
      .bottom_padding.fright.return_voting= t('nav.return_voting_widget');
#about{:style => 'display:none'}
  = render 'questions/about.html.haml'
