!!! 1.0
%html{:xmlns => "http://www.w3.org/1999/xhtml", :'xml:lang' => "en", :lang => "en"}
  %head
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <link rel="shortcut icon" href="/photocracy_favicon.ico" type="image/x-icon" />
    %title Photocracy
    =stylesheet_link_tag 'photocracy/reset', 'photocracy/text', 'photocracy/grid', 'photocracy/jquery-ui'
    /[if IE 6] 
      =stylesheet_link_tag 'photocracy/ie6'
    /[if IE 7] 
      =stylesheet_link_tag 'photocracy/ie'
    =stylesheet_link_tag 'photocracy/application'
    :javascript 
      var AUTH_TOKEN = #{form_authenticity_token.inspect};
      var PAGE_LOADED_AT = new Date();
      var RAILS_LOCALE = '#{I18n.locale}';
      var VOTE_CROSSFADE_TRANSITION = #{@vote_crossfade_transition.nil? ? 'false' : @vote_crossfade_transition};
      var FADE_TIME = #{@crossfade_time.nil? ? 1100 : @crossfade_time};
      var FADE_IN_TIME = 250
    =javascript_include_tag 'photocracy/jquery.min', 'photocracy/jquery-ui.min', 'photocracy/application', 'photocracy/jquery.timeago', 'photocracy/ajaxupload.3.9', 'facebox'
    =stylesheet_link_tag 'facebox'
    :javascript
      $(document).ready(function(){
        $("abbr.timeago").timeago();
        $('a[rel*=facebox]').facebox();
      });
  %body
    .container_16
      =render :partial => '/shared/flashes'
    .container_16
      =yield
    .container_12
      #ft
        Powered by
        =link_to "Photocracy.org", '/'
        \-
        =link_to "About", '/about'
        \-
        =link_to "Open source code", 'http://www.github.com/allourideas'
        \-
        =link_to "Privacy policy", '/privacy'
        \-
        =link_to "Create your own survey", '/questions/new'
        \-
        =link_to "See an example", '/princetondemo'
        -if signed_in?
          \-
          = link_to t('user.logout'), '/sign_out'
          \-
          = link_to t('user.control_panel'), admin_path
        -else
          \-
          = link_to t('user.login'), sign_in_path

    -if RAILS_ENV['production']
      .analytics
        = render :partial => '/layouts/google_analytics'
