!!! 1.0
%html{:xmlns => "http://www.w3.org/1999/xhtml", :'xml:lang' => "en", :lang => "en"}
  %head
    :javascript
      // under default settings, safari will not allow iframes to set cookies
      // unless the user has first navigated to the domain serving the iframe source
      //
      // here we test to see if this page can set a cookie with JS
      // if we can't then redirect to domain serving the iframe and pass in URL to bounce user back to
      var cookieValue = "safariTest" + new Date().getTime();
      document.cookie = "safariTest="+cookieValue;
      if (document.cookie.indexOf("safariTest="+cookieValue) === -1) {
        window.top.location.href = location.origin + '/redirect?redirect_to=' + encodeURIComponent(document.referrer);
      }
      else {
        // cleanup test cookie
        document.cookie = 'safariTest=; expires=Thu, 01 Jan 1970 00:00:01 GMT;';
      }
    %meta{:'http-equiv' => "content-type", :content => "text/html;charset=UTF-8"}
    = yield :meta
    %link{:rel => "shortcut icon", :href => "http://www.allourideas.org/favicon.ico"}
    %title= t('common.title')
    = stylesheet_link_tag @widget_stylesheet
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/themes/ui-lightness/jquery-ui.css" type="text/css" media="all" />
    = stylesheet_link_tag 'ui.theme', :media => 'all'
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.7.3/jquery-ui.min.js" type="text/javascript"></script>
    = javascript_include_tag 'widget/widget'
    = yield :head
    %script{:type => "text/javascript"}
      $(document).ready(function() {
      = yield :view_javascript    
      });
  %body{:class => "lang-#{I18n.locale}"}
    =javascript_tag "var AUTH_TOKEN = #{form_authenticity_token.to_json};" if protect_against_forgery?
    .content{:style => white_label_request? ? "overflow:hidden": ""}      
      .body{:class => white_label_request? ? 'noborder' : ''} 
        = render :partial => "shared/flashes"
        -if session[:standard_flash]
          %p.notice.example_notice#notice= session[:standard_flash]
          -session[:standard_flash] = nil
        -unless session[:has_voted]
          -if session[:on_example]
            %p.notice.example_notice#notice= t('home.student_government_explanation')
            -session[:on_example] = nil
        = yield
        .clear      
      = javascript_include_tag 'jquery.ba-url.min.js', 'jquery.taconite.js', 'jquery.hint.js', 'jquery.blockUI.js','label_over', 'jquery.jqEasyCharCounter.js', 'application'
      -if ['production'].include? Rails.env
        %script{:type => "text/javascript"}
          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-11703548-1']);
          _gaq.push(['_trackPageview']);
          - if @earl && !@earl.ga_code.blank?
            _gaq.push(['b._setAccount', '#{h(@earl.ga_code)}']);
            _gaq.push(['b._trackPageview']);
        :javascript
          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();
