<%- include('../header.html.ejs') %>

<h1 style="font-weight: 600;line-height: 1.1em;margin: 0;font-size: 11pt;padding-top: 8px;"><%= t('notification.email.user_invite_1') %></h1>

<p style="font-weight: 600;line-height: 1.1em;margin: 0;font-size: 14pt;padding-top: 1px;margin-top: 2px;">
  <% if (group) { %>
    <%= group.name %>
  <% } else { %>
    <%= community.name %>
  <% } %>
</p>

<p style="margin-top: 5px;">
  <%- linkTo("https://"+community.hostname+'.'+domain.domain_name+"/user/accept/invite/"+token) %>
</p>
<p style="margin-top: 5px;"><%= t('notification.email.user_invite_2') %></p>
<p style="margin-top: 5px;"><%= t('notification.email.user_invite_3') %> <%= sender_name %></p>

<%- include('../footer.html.ejs') %>
