= content_for :meta do
  <META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">
= render :partial => 'shared/header_vote' unless request.xhr?

%table.table.table-striped
  %thead
    %tr
      %th{:colspan => 2}
        %h4= @question.name.strip
  %tbody
    %tr
      %th= t('items.idea')
      %td{:width=>'80%'}= h @choice.data.strip
    %tr
      %th= t('items.added_on')
      %td= @choice.created_at.getlocal.strftime("%m/%d/%Y")
    %tr
      %th= t('items.score')
      %td= @choice.score.round.to_s + ' ' + link_to('<i class="icon-question-sign"></i>', '#score_explanation', :"data-toggle" => 'modal', :"data-dismiss" => 'modal')
    %tr
      %th= t('items.number_of_votes')
      %td#num_votes= @num_votes

- unless request.xhr?
  #score_explanation.hide.modal.fade
    .modal-header
      %button.close{:"data-dismiss" => "modal"}x
      %h2= t('items.about_scoring')
    .modal-body
      =t('items.score_explain')
