= render :partial => 'shared/header_vote'
.ninety
  %table.full.item
    %tr.row0
      %th{:colspan => 2}
        = @question_name.strip
    %tr
      %td= t('items.idea')
      %td{:width=>'80%'}= @data.strip
    %tr
      %td= t('items.added_on')
      %td= @created_at.getlocal.strftime("%m/%d/%Y at %I:%M%p")
    %tr
      %td= t('items.score')
      %td= @score.round.to_s + ' ' + link_to('[?]', '#explanation', :rel => 'facebox')
    %tr
      %td= t('items.number_of_votes')
      %td= @votes_count
      
#explanation{:style => 'display:none;'}
  %h2= t('items.about_scoring')
  =t('items.score_explain')


-content_for :head do
  = javascript_include_tag 'facebox'
  = stylesheet_link_tag 'facebox'

-content_for :view_javascript do
  $('a[rel*=facebox]').facebox();
