= content_for :meta do
  <META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">
= render :partial => 'shared/header_vote' unless request.xhr?

%table.table.table-striped
  %thead
    %tr
      %th{:colspan => 2}
        %h4= @question.name.try(:strip)
  %tbody
    %tr
      %th= t('items.idea')
      %td{:width=>'80%'}= h @choice.data.strip
    %tr
      %th= t('items.added_on')
      %td= Time.parse(@choice.created_at).getlocal.strftime("%m/%d/%Y")
    %tr
      %th= t('items.score')
      %td= (@choice.score ? @choice.score.round.to_s : 'N/A').html_safe + ' ' + link_to('', '#score_explanation', :"data-toggle" => 'modal', :"data-dismiss" => 'modal', :class => 'glyphicon glyphicon-question-sign').html_safe
    %tr
      %th= t('items.completed_contests')
      %td#num_votes= @num_votes

- unless request.xhr?
  #score_explanation.hide.modal.fade
    .modal-header
      %button.close{:"data-dismiss" => "modal"}x
      %h2= t('items.about_scoring')
    .modal-body
      =t('items.score_explain')
