= render :partial => 'shared/header_vote'
.ninety
  %table.full.item
    %tr.row0
      %th{:colspan => 2}
        = @question_name.strip
    %tr
      %td= t('items.idea')
      %td{:width=>'80%'}= @data.strip
    %tr
      %td= t('items.added_on')
      %td= @created_at.strftime("%m/%d/%Y at %I:%M%p")
    %tr
      %td= t('items.score')
      %td= @score.round.to_s + ' ' + link_to('[?]', '#explanation', :rel => 'facebox')
    %tr
      %td= t('items.number_of_votes')
      %td= @votes_count
      

#explanation{:style => 'display:none;'}
  %h2 About the Scoring
  The scores here are computed as a percentage of votes in which the choice was preferred.