<p><%= t('items.email.hello') %></p>

<p>You requested an export of data from the <%= @photocracy ? 'Photocracy' : 'All Our Ideas'%> site. Our servers have done some serious computation and your file is available now.</p>

<a href="<%= "http://#{@photocracy ? ENV["PHOTOCRACY_HOST"] : ENV["HOST"]}#{@url}" %>"><%= "http://#{@photocracy ? ENV["PHOTOCRACY_HOST"] : ENV["HOST"]}#{@url}" %></a>


<p>This file will be available at the URL above for the next three days. You can always request another copy of the data at any point in the future.</p>


<p>The data at this url is public, so only share this link with people that you wish to have access to your data.</p>

<p>You can find our documentation for the CSV file format here:<br/>
<a href="http://blog.allourideas.org/post/2739358388/download-your-data">http://blog.allourideas.org/post/2739358388/download-your-data</a>
</p>


<p><%= t('items.email.thanks') %></p>
<%= render :partial => 'idea_mailer/signature' %>
