<p><%= t('items.email.hello') %></p>

<p>You requested an export of data from the <%= @photocracy ? 'Photocracy' : 'All Our Ideas'%> site. Our servers have done some serious computation and your file is available now.</p>

<a href="<%= "http://#{@photocracy ? PHOTOCRACY_HOST : HOST}#{@url}" %>"><%= "http://#{@photocracy ? PHOTOCRACY_HOST : HOST}#{@url}" %></a>


<p>This file will be available at the URL above for the next three days. You can always request another copy of the data at any point in the future.</p>


<p>The data at this url is public, so only share this link with people that you wish to have access to your data.</p>


<p><%= t('items.email.thanks') %></p>
<%= render :partial => 'idea_mailer/signature' %>
