Hi,
= "\n"
= "When creating the question '#{@question.the_name}', the user #{@user.email} included the following in the optional information field:  \n"
= "\n"
= "\n"
= @information
= "\n"
= "\n"
= "\n"


Thanks,
All Our Ideas
145 Wallace Hall
Princeton, NJ 08544
info@allourideas.org
Follow us on twitter: http://twitter.com/allourideas
