<p><%= t('items.email.hello') %></p>

<p><%= t("items.email.#{@photocracy ? 'photocracy_' : ''}someone_has_flagged", :question_url => "http://#{@photocracy ? APP_CONFIG[:PHOTOCRACY_HOST] : APP_CONFIG[:HOST]}/#{@earl.name}", :choice_data => @choice_data) %></p>

<p><%= t('items.email.provided_explanation_is', :object_type => @object_type) %></p>

<p><%= @explanation %></p>

<p><%= t("items.email.#{@photocracy ? 'photocracy_' : ''}we_have_auto_deactivated") %></p>

<p><a href="<%= @choice_url %>"><%= @choice_url %></a></p>

<p><%= t('items.email.if_you_dont_want', :object_type => @object_type) %></p>

<p><%= @photocracy ? t('items.email.see_current_results_photocracy') : t('items.email.see_current_results') %><br/>
<a href="<%= "http://#{@photocracy ? APP_CONFIG[:PHOTOCRACY_HOST] : APP_CONFIG[:HOST]}/#{@earl.name}" %>"><%= "http://#{@photocracy ? APP_CONFIG[:PHOTOCRACY_HOST] : APP_CONFIG[:HOST]}/#{@earl.name}" %></a>

<p><%= t('items.email.thanks') %></p>
<%= render :partial => 'idea_mailer/signature' %>
