= t('items.email.hello') 

= "\n" + t('items.email.someone_has_flagged', :idea_data => @choice_data.strip, :question_url => "http://#{HOST}/#{@earl.name}") + "\n\n"

= "\n" + t('items.email.provided_explanation_is') + "\n\n"

= @explanation + "\n\n"

= "\n" + t('items.email.we_have_auto_deactivated') + "\n\n"

= "http://#{HOST}/#{@earl.name}/choices/#{@choice_id}/activate"

= "\n\n" + t('items.email.if_you_dont_want') + "\n\n"

= t('items.email.see_current_results') + " http://#{HOST}/#{@earl.name}"
= "\n\n"

= t('items.email.thanks')
All Our Ideas
145 Wallace Hall
Princeton, NJ 08544
info@allourideas.org
= t('items.email.follow_us_on_twitter') + "http://twitter.com/allourideas"
