Hi,
= "\n"
= "Someone has uploaded the idea '#{@choice}' to your question '#{@question.the_name}' (http://#{HOST}#{@question.earl})\n\n"

Based on your settings, we have auto-activated the idea so that it may be seen and voted upon immediately.  If for whatever reason you need to de-activate this idea, go to the following url:
= "\n"

= "http://#{HOST}#{@question.earl}/choices/#{@choice_id}/deactivate"

= "\n"

If you want others to see this idea, no action is required.


Thanks,
All Our Ideas
145 Wallace Hall
Princeton, NJ 08544
info@allourideas.org
