Hi,

= "Someone has uploaded the idea '#{@choice}' to your question '#{@question.the_name}' (#{HOST}#{@question.earl})"

In order to prevent inappropriate or malicious ideas, you will need to activate this idea before others can vote on it.

If you want others to vote on this idea, go to the following url:
= "#{HOST}#{@question.earl}/choices/#{@choice_id}/activate"

If you do not want others to vote on this idea, no action is required.

Thanks,
All Our Ideas
145 Wallace Hall
Princeton, NJ 08544
info@allourideas.org