= t('items.email.hello') 
= "\n" + t('items.email.someone_has') +  "'#{@choice_text}'" + t('items.email.to_your_question') + "'#{@question_name}'"+ "\n\n"

= t('items.email.we_auto_activated_idea')
= "\n"
= "\n"

= "http://#{HOST}/#{@earl.name}/choices/#{@choice_id}/deactivate"

= "\n\n"

= t('items.email.if_you_want')


= t('items.email.see_current_results') + " http://#{HOST}/#{@earl.name}"
= "\n\n"


Thanks,
All Our Ideas
145 Wallace Hall
Princeton, NJ 08544
info@allourideas.org
= t('items.email.follow_us_on_twitter') + "http://twitter.com/allourideas"
