Hello,

= "\nSomeone has uploaded the idea '#{@choice}' to your question '#{@question.the_name}'\n\n"
= "\nIf you want others to be able to vote on this idea, please visit the following url:\n\n"
= "http://#{HOST}#{@question.earl}/choices/#{@choice_id}/activate"
= "\n\nIf you do not want others to vote on this idea, no action is required.\n\n"

= "\nTo see current results, or to vote futher, you may want to visit the idea marketplace that you created: http://#{HOST}#{@question.earl}"
= "\n\n"

Thanks,
All Our Ideas
145 Wallace Hall
Princeton, NJ 08544
info@allourideas.org
