<html>
Hi,
<br/><br/>
= "Someone has uploaded the idea '#{@choice}' to your question '#{@question.the_name}' (#{HOST}#{@question.earl})"
<br/><br/>
In order to prevent inappropriate or malicious ideas, you will need to activate this idea before others can vote on it.
<br/><br/>
If you want others to vote on this idea, go to the following url:
<br/><br/>
= "#{HOST}#{@question.earl}/choices/#{@choice_id}/activate"
<br/><br/><br/>

If you do not want others to vote on this idea, no action is required.
<br/><br/><br/>

Thanks,<br/>
All Our Ideas<br/>
145 Wallace Hall<br/>
Princeton, NJ 08544<br/>
info@allourideas.org
</html>