Hi,
= "\n"
= "Someone has uploaded the idea '#{@choice}' to your question '#{@question.the_name}' \n"
= "\n"
Based on your settings, we have auto-activated the idea so that it may be seen and voted upon immediately.  If for whatever reason you need to de-activate this idea, go to the following url:
= "\n"
= "\n"

= "http://#{HOST}#{@question.earl}/choices/#{@choice_id}/deactivate"

= "\n\n"

If you want others to see this idea, no action is required.


= "\n\nTo see current results, or to vote futher, you may want to visit the idea marketplace that you created: http://#{HOST}#{@question.earl}"
= "\n\n"


Thanks,
All Our Ideas
145 Wallace Hall
Princeton, NJ 08544
info@allourideas.org
