.row.footer-row
  .span8.offset4
    %p
      %span.text-links
        = link_to(t('nav.about'), about_path)
        |
        = link_to(t('nav.privacy_policy'), privacy_path)
      %span.image-links
        = link_to(image_tag('fb.png'), 'https://www.facebook.com/allourideas')
        = link_to(image_tag('twitter.png'), 'https://twitter.com/allourideas')
        = link_to(image_tag('github.png'), 'https://github.com/allourideas')
      - if @earl && !@earl.logo_file_name.nil?
        = link_to(image_tag('powered-by-aoi.png'), '/')
