.row.footer-row
  .span4
    %ul.footer-icons.unstyled
      %li
        = link_to(image_tag('logo-google.jpg', :id => 'logo-google'), 'http://research.google.com/university/relations/research_awards.html')
      %li
        = link_to(image_tag('logo-citp.jpg', :id => 'logo-citp'), 'http://citp.princeton.edu/')
      %li
        = link_to(image_tag('logo-princeton.jpg', :id => 'logo-princeton'), 'http://www.princeton.edu/')
    %p.footer-icon3.right-border
      %small= t('footer.support')
  .span4
    %ul.footer-icons.unstyled
      %li= link_to(image_tag('logo-open.jpg', :id => 'logo-open'), 'http://github.com/allourideas')
    %p.footer-icon1.right-border
      %small= t('footer.open_source')
  .span4
    %ul.footer-icons.unstyled
      %li= link_to(image_tag('logo-check.jpg', :id => 'logo-check'), 'http://www.allourideas.org')
    %p.footer-icon1
      %small
        -if signed_in?
          = t('footer.logged_in_as', :user => current_user.email)
          %br
          = link_to t('user.logout'), '/sign_out'
          %br
          = link_to t('user.control_panel'), admin_path
        -elsif signed_in?
          = "#{t('footer.logged_in')} at this computer but not yet registered"
          %br
          =# #{link_to(t('footer.my_questions'), users_path)} &nbsp;//&nbsp; #{link_to(t('user.logout'), sign_out_path)}
        -else
          = link_to t('user.login'), sign_in_path
          %br
          = link_to t('nav.make_your_own'), new_question_path
          %br
          = link_to t('nav.about'), about_path
