-if @question
  -@cast_votes_url = @question.earl
  -@results_url = @question.earl + "/results"
  -@all_results_url = "#{@results_url}?all=true"
-else
  -@cast_votes_url = "http://#{HOST}/#{@earl.name}"
  -@results_url = "http://#{HOST}/#{@earl.name}" + "/results"

.vote-nav
  .fleft
    .bread-crumb
  .fright
    =loc_based_style(link_to(t('vote.cast_votes'), @cast_votes_url), t('vote.cast_votes'))
    %span.grey &nbsp;|&nbsp;
    = loc_based_style(link_to(t('nav.view_results'), @results_url), t('nav.view_results'))
  .clear