.header
  .fleft.clear{:style => "clear:right;"}
    = link_to(image_tag("logo#{'-small' if (@earl && !@earl.logo_url.blank?)}.jpg"), root_path, :class => 'logo')
  %br
  
  .fleft{:style => "clear:left;"}
  .fright
    -if !@question_id
      %ul
        %li= link_to(t('nav.home'), root_path, class_for_nav(params, 'index'))
        /= link_to(t('nav.tour'), tour_path, class_for_nav(params, 'tour'))
        %li= link_to(t('nav.create'), new_question_path, class_for_nav(params, 'new', 'questions'))
        %li= link_to(t('nav.about'), about_path, class_for_nav(params, 'about'))
  .clear