-if @question
  -@cast_votes_url = @question.earl
  -@results_url = @question.earl + "/results"
  -@all_results_url = "#{@results_url}?all=true"
-else
  -@cast_votes_url = "#{HOST}/#{@earl.name}"
  -@results_url = "#{HOST}/#{@earl.name}" + "/results"

.vote-nav
  .fleft{:style => "vertical-align: bottom;"}
    -if @earl && !@earl.logo_file_name.nil?
      = link_to(image_tag(@earl.logo.url(:medium)), root_path, :class => 'logo')
    .bread-crumb
  .fright{:style => "vertical-align: bottom;"}
    %br
    %br
    %br
    %br
    %div{:style => "position:relative; bottom: 0;"}
      =loc_based_style(link_to(t('vote.cast_votes'), @cast_votes_url), t('vote.cast_votes'))
      %span.grey &nbsp;|&nbsp;
      = loc_based_style(link_to(t('nav.view_results'), @results_url), t('nav.view_results'))
  .clear
