%b{:class => classes}
  %b{:class => "#{classes}-top"}
    %b
  %b{:class => "#{classes}2"}
    %b
  %b{:class => "#{classes}3"}
  %b{:class => "#{classes}4"}
  %b{:class => "#{classes}5"}
%div{:class => "#{classes}fg"}
  = content
%b{:class => classes}
  %b{:class => "#{classes}5"}
  %b{:class => "#{classes}4"}
  %b{:class => "#{classes}3"}
  %b{:class => "#{classes}2"}
    %b
  %b{:class => "#{classes}-bottom"}
    %b