<%- include('../header.html.ejs') %>

<h1 style="font-weight: 600;line-height: 1.1em;margin: 0;font-size: 14pt;padding-bottom: 8px;"> <%= t('notification.email.newsStory') %></h1>
<% if (post) { %>
  <h2><%= post.name %></h2>
<% } %>
<p>
    <%- simpleFormat(point.content) %>
</p>
<% if (point.User) { %>
<p>
    <%= t('notification.email.writtenByUser') %> <%= point.User.name %>
</p>
<% } %>
<br>
<%= t('notification.email.youCanViewItHere') %>:
<% if (point.Post) { %>
  <%- linkTo("https://"+community.hostname+"."+domain.domain_name+"/post/"+point.Post.id+"/news/"+activity.id) %>
<% } %>
<% if (!point.Post && group) { %>
  <%- linkTo("https://"+community.hostname+"."+domain.domain_name+"/group/"+point.Group.id+"/news/"+activity.id) %>
<% } %>
<% if (!point.Post && !point.Group && point.community) { %>
  <%- linkTo("https://"+community.hostname+"."+domain.domain_name+"/community/"+point.Community.id+"/news/"+activity.id) %>
<% } %>
<% if (!point.Post && !point.Group && !point.community) { %>
  <%- linkTo("https://"+community.hostname+"."+domain.domain_name+"/domain/"+point.Domain.id+"/news/"+activity.id) %>
<% } %>
<br>

<%- include('../footer.html.ejs') %>
