.double-left
  %h1= t('about.about')
  %p= t('about.p1')
  %p= t('about.p2')
  %p= t('about.p3')
  %p
    =# t('about.or_send_us')
    = t('about.please_send_to')
    = link_to('info@allourideas.org', 'mailto:info@allourideas.org')
    = "." 
    = t('about.add_to_improve_AOI_1')
    = link_to('All Our Ideas', 'http://allourideas.org/improve_allourideas') 
    = t('common.idea_marketplace')
  %p
    = t('about.oss_1')
    = link_to(t('about.oss_link'), 'http://github.com/allourideas')
    = t('about.oss_2')
    = link_to(t('about.oss_api'), 'http://www.spreadsomething.org')
    = t('about.oss_3')
  %p
    = t('about.for_more_frequent_updates')
    = link_to(t('about.read our blog'), 'http://blog.allourideas.org')
    = " or "
    = link_to(t('about.twitter_link'), 'http://twitter.com/allourideas')
  %p
    = link_to(t('nav.privacy_policy'), privacy_path)
.triple-right
  %h1= t('about.current_contributors')
  %p
    %strong= link_to('Matthew Salganik', 'http://sociology.princeton.edu/Faculty/Salganik/')
    %br
    Department of Sociology, Princeton University
  %p
    %strong= link_to('Luke Baker', 'http://www.agathongroup.com/')
    %br
    Agathon Group
  %p
    %strong= link_to('Nadia Heninger', 'http://www.cs.princeton.edu/~nadiah/')
    %br
    Department of Computer Science, Princeton
  %p
    %strong= link_to('Bill Zeller', 'http://www.from.bz/')
    %br
    Department of Computer Science, Princeton
  %p
    %strong= link_to('Karen Levy', 'http://sociology.princeton.edu/GraduateProgram/Students/#levy')
    %br
    Department of Sociology, Princeton University
  %p
    %strong= link_to('Calvin Lee', 'http://calvinclee.com/')
    %br
    Princeton Class of 2012
  %p
    %strong= 'Dmitri Garbuzov'
    %br
    Princeton Class of 2010, Google Summer of Code
  %p
    %strong= 'Brian Tubergen'
    %br
    Princeton Class of 2013, Google Summer of Code
  %h1= t('about.past_contributors')
  %p
    %strong= link_to('Peter Lubell-Doughtie', 'http://blog.helioid.com')
    %br
    Helioid LLC
  %p
    %strong= link_to('Pius Uzamere', 'http://pius.me')
    %br
    WildThinkers
  %p
    %strong= link_to('Dhruv Kapadia', 'http://www.dkapadia.com')
    %br
    &nbsp;
  %p
    %strong= link_to('Chap Ambrose', 'http://www.chapambrose.com/')
    %br
    &nbsp;
  %p
    %strong Josh Weinstein
    %br
    Princeton Class of 2009
  %p
    %strong Dhwani Shah
    %br
    Princeton Class of 2009
  %p
    %strong Bambi Tsui
    %br
    Princeton Class of 2009
  %p
    %strong Adam Sanders
    %br
    Princeton Class of 2009
