.row-fluid
  .span8
    %h1 About this project
    %p
      All Our Ideas is an open source project maintained by the nonprofit Citizens Foundation which also provides a cloud service...
    %p
      All Our Ideas grew out of a research group is led by Matthew Salganik from the Department of Sociology and Center for Information Technology Policy at Princeton University. Our project grew out of discussions between Matt and Josh Weinstein, then president of the Princeton Undergraduate Student Government, about how to collect and prioritize the ideas of Princeton students. A research group was formed, and our first project, a collaboration with the Princeton student government, called "Which do you want more?" was launched in November 2008. All Our Ideas was then launched in February 2010. Current and former group members include (in chronological order): Josh Weinstein, Nadia Heninger, Bill Zeller, Peter Lubell-Doughtie, Dhwani Shah, Adam Sanders, Bambi Tsui, Pius Uzamere, Karen Levy, Dhruv Kapadia, Dmitri Garbuzov, Brian Tubergen, Chap Ambrose, Calvin Lee, and Luke Baker.  When it was a research project, All Our Ideas was supported by grants from Google, the US National Science Foundation, the World Bank, and the Center For Information Technology at Princeton University.
    %p
      All Our Ideas is powered by <a href="https://github.com/CitizensFoundation/allourideas.org">open source</a> software. Feel free to review, remix, or redesign. Also, you can use our <a href="https://github.com/allourideas/pairwise-api/wiki/API-Documentation">API</a> to create your own pairwise comparison site.
    %p
      For more frequent updates on the project, you can <a href="http://blog.allourideas.org/">read our blog</a>, <a href="http://twitter.com/allourideas">follow us on Twitter</a> or <a href="https://www.facebook.com/allourideas">Like us on Facebook.</a>
    %p
      You can contact us by email at
      = mail_to(ENV["INFO_ALLOURIDEAS_EMAIL"])
    %p
      = link_to(t('nav.privacy_policy'), privacy_path)

    %h3 Research produced by our group
    %h5 Papers
    %p
      Salganik, Matthew J. and Karen E.C. Levy. 2015. "Wiki surveys: Open and quantifiable social data collection.". PLoS ONE 10(5): e0123483. <a href="http://dx.doi.org/10.1371/journal.pone.0123483">http://dx.doi.org/10.1371/journal.pone.0123483</a>
    %h5 Senior Theses
    %p
      Shah, Dhwani. 2009. Solving Problems Using the Power of Many: Information Aggregation Websites, A Theoretical Framework and Efficacy Test. Senior Thesis. Princeton University: Department of Sociology.
    %p
      Weinstein, Joshua R. 2009. Photocracy: Employing Pictoral Pair-Wise Comparison to Study National Identity in China, Japan, and the United States via the Web. Senior Thesis. Princeton University: Department of East Asian Studies.
  .span4
    %h3= t('about.current_contributors')
    %p
      %strong= link_to('Robert Bjarnason', 'https://citizens.is')
      %br
      Robert Bjarnason, Citizens Foundation
    %p
      %strong= link_to('Maren Valsdottir', 'https://citizens.is')
      %br
      Maren Valsdottir, Citizens Foundation
    %p
      %strong= link_to('Matthew Salganik', 'http://sociology.princeton.edu/Faculty/Salganik/')
      %br
      Department of Sociology, Princeton University
    %h3= t('about.past_contributors')
    %p
      %strong= link_to('Karen Levy', 'http://www.karen-levy.net/')
      %br
      Department of Sociology, Princeton University
    %p
      %strong= link_to('Luke Baker', 'http://www.agathongroup.com/')
      %br
      Agathon Group
    %p
      %strong Josh Weinstein
      %br
      Princeton Class of 2009
    %p
      %strong= link_to('Nadia Heninger', 'http://cseweb.ucsd.edu/~naheninger')
      %br
      Department of Computer Science, Princeton
    %p
      %strong Bill Zeller
      %br
      Department of Computer Science, Princeton
    %p
      %strong= link_to('Peter Lubell-Doughtie', 'http://blog.helioid.com')
      %br
      Helioid LLC
    %p
      %strong Dhwani Shah
      %br
      Princeton Class of 2009
    %p
      %strong Adam Sanders
      %br
      Princeton Class of 2009
    %p
      %strong Bambi Tsui
      %br
      Princeton Class of 2009
    %p
      %strong= link_to('Pius Uzamere', 'http://pius.me')
      %br
      WildThinkers
    %p
      %strong= link_to('Dhruv Kapadia', 'http://www.dkapadia.com')
    %p
      %strong= 'Dmitri Garbuzov'
      %br
      Princeton Class of 2010, Google Summer of Code
    %p
      %strong= 'Brian Tubergen'
      %br
      Princeton Class of 2013, Google Summer of Code
    %p
      %strong= link_to('Chap Ambrose', 'http://www.chapambrose.com/')
    %p
      %strong= link_to('Calvin Lee', 'http://calvinclee.com/')
      %br
      Princeton Class of 2012
