=# render :partial => 'shared/header_vote'
.ninety
  %table.full
    %tr.row0
      %th
        = Question
        /== (#{@votes_count} #{t('common.votes_on')} #{@items_count} #{t('common.items')})
      %th.score= (@header_text = "Status") #+ link_to('[?]', "score_items_path(:question_id => @question_id)", :popup => ['status=0,location=0', 'height=200,width=500'])
      %th &nbsp;
    -alt=false
    -for earl in current_user.earls.sort_by {|x| [(!x.active).to_s, x.name] }
      -q = earl.question(true)
      %tr{:class => "row#{(alt = !alt) ? 1 : 2}"}
        %td.title= link_to truncate(h(q.attributes['name']), :length => 137), q.fq_earl + '/admin'
        
        %td.votes{:id => "question_#{earl.id}_status"}= earl.active? ? 'Activated' : 'Deactivated'
        -#%td= rank
        -#%td= added
        %td
          =link_to('[Toggle]', '#', :class => 'toggle_question_status', :rel => earl.id)
    %tr.row0.thin
      %td{:colspan => 3}
  %br
  
  #explanation{:style => 'display:none;'}
    %h2 About the Scoring
    The scores here are computed as a percentage of votes in which the choice was preferred.