%h1= t('user.retrieve_password')
%h2= t('user.retrieve_password_explain')
%br
-form_tag forgot_password_path do
  %table.left
    %tr
      %td== #{t('user.email')}:
      %td= text_field_tag 'email'
    %tr
      %td
      %td
        %br
        = submit_tag t('form.submit'), :class => 'form-btn'