.row-fluid
  .span10.offset1
    .aoi-hero-unit
      %h1.headline Bringing survey research into the digital age.
      %h3.sub-headline
        Mix core ideas from survey research with new insights from crowdsourcing.
        Add a heavy dose of statistics. Stir in a bit of fresh thinking. Enjoy.
      %p.headline-buttons
        %a.btn.btn-large{:href => "/example"}
          Try a Wiki Survey
        %a.btn.btn-large.btn-success{:href => new_question_path}
          Create a Wiki Survey
.how-it-works
  .row-fluid
    .span12
      %h3.title How a Wiki Survey works
  .row-fluid.boxes
    .span4.divider-holder
      .divider.hidden-phone
      %a{:href => '/questions/new'}
        = image_tag('homepage/create.png')
      %h3
        %a{:href => '/questions/new'}
          Create
      %p Start with a question and some seed ideas, and you can create a wiki survey in moments.
    .span4.divider-holder
      .divider.hidden-phone
      .participate-holder
        %a{:href => "/#{@example_earl}?guides=true"}
          = image_tag('homepage/participate.png')
      %h3
        %a{:href => "/#{@example_earl}?guides=true"}
          Participate
      %p The participants you invite will enjoy our simple process of voting and adding new ideas.
    .span4
      %a{:href => "/#{@example_earl}/results"}
        = image_tag('homepage/discover.png')
      %h3
        %a{:href => "/#{@example_earl}/results"}
          Discover
      %p The best ideas will bubble to the top using our system that is open, transparent, and powerful.

.row-fluid
  .span10.offset1
    .descriptions
      .row-fluid
        .span5.image
          = image_tag('homepage/devices-with-site.jpg')
        .span7
          %h3 Easy to use
          %p
            Creating and running a wiki survey at All Our Ideas is quick and easy. Just start with a question and some seed ieas and in a few moments you'll have your own wiki survey. Your participants will enjoy it, and all you have to do is set back and watch the best ideas bubble to the top.

      .row-fluid
        .span5.pull-right.image.math-formula
          = image_tag('homepage/math-formula.png')
        .span7
          %h3 Backed by research
          %p
            All Our Ideas is a research project based out of Princeton University that is dedicated to creating new ways of collectin social data. You can learn more about the theory and methods behind our project by
            %a{:href => "http://arxiv.org/abs/1202.0500"} reading our paper
            or
            %a{:href => "http://youtu.be/-AwbirB62ZQ"} watching our talk at MIT.
            Thanks to Google, the National Science Foundation, and Princeton for supporting this research.

      .row-fluid
        .span5.image
          = image_tag('homepage/present.jpg')
        .span7
          %h3 Packed with features
          %p
            We've also built in lots of powerful features into All Our Ideas. For example you can
            %a{:href => 'http://blog.allourideas.org/post/912665189/improved-widget-gives-you-more-control'} embed your wiki survey in a different website,
            %a{:href => 'http://blog.allourideas.org/post/2739358388/download-your-data'} download raw data for offline analysis,
            and
            %a{:href => 'http://blog.allourideas.org/post/947544304/add-google-analytics-on-your-idea-marketplace'} integrate your wiki survey with Google Analytics.
            And, our community of volunteers has translated the site into more than 10 languages—including Arabic, Chinese, and Spanish.

      .row-fluid
        .span5.pull-right.image.tux
          = image_tag('homepage/tux.png')
        .span7
          %h3 Open source
          %p
            The code that powers All Our Ideas is available
            %a{:href => 'https://github.com/allourideas'} open-source.
            That means that you can learn how it works, customize it for your own needs, and even
            %a{:href => 'http://blog.allourideas.org/post/33581685629/bringing-our-code-to-your-server'} install it on your own servers.
            We've already had people from all over the world contribute code to the project, and you are welcome to join our developer community.

.row-fluid
  .span12
    %h3.overall-stats
      Currently hosting
      %span.wiki-surveys-count
        = number_with_delimiter(@stats['total_questions'])
      wiki surveys with
      %span.ideas-count
        = number_with_delimiter(@stats['choices_count'])
      ideas and
      %span.votes-count
        - if @stats['votes_count'] >= 1000000
          = (@stats['votes_count'] / 1000000.0).round(1)
          million
        - else
          = number_with_delimiter(@stats['votes_count'])
      votes including:
    .flexslider
      %ul.slides
        %li
          = image_tag('homepage/l_calgary.jpg')
        %li
          = image_tag('homepage/l_catholic_relief.jpg')
        %li
          = image_tag('homepage/l_digital_demo.jpg')
        %li
          = image_tag('homepage/l_junior-league.jpg')
        %li
          = image_tag('homepage/l_matter.jpg')
        %li
          = image_tag('homepage/l_nyc.jpg')
        %li
          = image_tag('homepage/l_oecd.jpg')
        %li
          = image_tag('homepage/l_rio_grande-do-sul.jpg')
        %li
          = image_tag('homepage/l_washington_post.jpg')
        %li
          = image_tag('homepage/l_wikipedia.jpg')
= javascript_include_tag 'jquery.flexslider-min'
:javascript
  $(document).ready(function() {
    $('.flexslider').flexslider({
      animation: "slide",
      controlNav: false,
      animationLoop: true,
      itemWidth: 190,
      prevText: '&#9664;',
      nextText: '&#9654;',
      slideshow: false
    });
  });
