.row-fluid
  .span10.offset1
    .aoi-hero-unit
      %h1.headline Bringing survey research into the digital age.
      %h3.sub-headline
        Mix foundational principles from survey research with new ideas from crowdsourcing.
        Add a heavy does of statistics. Stir in a bit of fresh thinking. Enjoy.
      %p.headline-buttons
        %a.btn.btn-large{:href => "/example"}
          Try a Wiki Survey
        %a.btn.btn-large.btn-success{:href => new_question_path}
          Create a Wiki Survey
.row-fluid
  .span12
    .center= image_tag('start.jpg')

.descriptions
  .row-fluid
    .span4.offset1.image
      = image_tag('devices-with-site.jpg')
    .span6
      %h3 Easy to use
      %p
        Creating and running a wiki survey at All Our Ideas is quick and easy. Just start with a question and some seed ieas and in a few moments you'll have your own wiki survey. Your participants will enjoy it, and all you have to do is set back and watch the best ideas bubble to the top.

  .row-fluid
    .span6.offset1
      %h3 Backed by research
      %p
        All Our Ideas is a research project based out of Princeton University that is dedicated to creating new ways of collectin social data. You can learn more about the theory and methods behind our project by
        %a{:href => "http://arxiv.org/abs/1202.0500"} reading our paper
        or
        %a{:href => "http://youtu.be/-AwbirB62ZQ"} watching our talk at MIT.
        Thanks to Google, the National Science Foundation, and Princeton for supporting this research.
    .span4.image
      = image_tag('math-formula.png')

  .row-fluid
    .span4.offset1.image
      = image_tag('present.jpg')
    .span6
      %h3 Packed with features
      %p
        We've also built in lots of powerful features into All Our Ideas. For example you can
        %a{:href => 'http://blog.allourideas.org/post/912665189/improved-widget-gives-you-more-control'} embed your wiki survey in a different website,
        %a{:href => 'http://blog.allourideas.org/post/2739358388/download-your-data'} download raw data for offline analysis,
        and
        %a{:href => 'http://blog.allourideas.org/post/947544304/add-google-analytics-on-your-idea-marketplace'} integrate your wiki survey with Google Analytics.
        And, our community of volunteers has translated the site into more than 10 languages—including Arabic, Chinese, and Spanish.

  .row-fluid
    .span6.offset1
      %h3 Open source
      %p
        The code that powers All Our Ideas is available
        %a{:href => 'https://github.com/allourideas'} open-source.
        That means that you can learn how it works, customize it for your own needs, and even
        %a{:href => 'http://blog.allourideas.org/post/33581685629/bringing-our-code-to-your-server'} install it on your own servers.
        We've already had people from all over the world contribute code to the project, and you are welcome to join our developer community.
    .span4.image
      = image_tag('tux.png')
