%h1 Privacy and consent policy

%h3 Overview

%p
  - if @photocracy
    Photocracy
  - else
    All Our Ideas
  is a research project lead by #{link_to "Professor Matthew Salganik", "http://www.princeton.edu/~mjs3/"} of #{link_to "Princeton University.", "http://www.princeton.edu/"}  As such, all of our data collection and processing procedures have been approved by the #{link_to "Princeton University Institutional Review Board for Human Subjects", "http://www.princeton.edu/orpa/irb.htm"} (protocol #4885).  Also, all members of our research team who have access to the data have completed a National Institutes of Health course on Protecting Human Research Participants.  In other words, we take data protection very seriously.

%p Because this is a research project, we need to collect data from the site.  We are interested in broad, aggregate patterns in the data, not in how any one particular person voted.  So, for example, we are interested in the average number of votes cast in each session, but we are not interested in identifying who said they liked chocolate ice cream better than vanilla ice cream.

%p So that’s the big picture: we collect data about how you use this website site (just like virtually every other website), and we take your privacy seriously.

%p Below, we have information to some more specific questions, written in legalize.  When in doubt, you can always email us or check out #{link_to "our code", "http://github.com/allourideas"}; this project is entirely open source.

%h3 What information do we collect?

%p We collect information from you when you interact with All Our Ideas.

%p When creating a question, you will be required to enter your email address. You may, however, vote on questions anonymously. All visitors to the site will have their IP address #{link_to "geolocated", "http://en.wikipedia.org/wiki/Geolocation"} using a publicly available database.  We store your approximate location, as inferred from your IP address, and a #{link_to "cryptographic hash", "http://en.wikipedia.org/wiki/Cryptographic_hash_function"} of your IP address in our database.  We do not store IP addresses in our database.  We also use third-party analytics services, such as #{link_to "Google Analytics", "http://www.google.com/analytics/"}, to track traffic on the website.

%p Further, like most websites, we use cookies to enhance your experience, gather general visitor information, and track visits to our website. Please refer to the "#{link_to 'do we use cookies?', "#do-we-use-cookies"}" section below for information about cookies and how we use them.

%h3 How do we use your information?

%p Any of the information that we collect may be used for research proposes and to improve All Our Ideas.

%h3 How do we protect your information?

%p We implement a variety of security measures to maintain the safety of your personal information.

%h3#do-we-use-cookies Do we use cookies?

%p Yes. Cookies are small files that a site or its service provider transfers to your computer's hard drive through your web browser (if you allow) that enables the sites or service providers systems to recognize your browser and capture and remember certain information.

%p In order to offer you a better site experience, we use cookies to understand and save your preferences for future visits and to compile aggregate data about site traffic.

%h3 Do we disclose any information to outside parties?

%p We do not sell, trade, or otherwise transfer to outside parties your personally identifiable information. This does not include trusted third parties who assist us in operating our website, conducting research, or servicing you, so long as those parties agree to keep this information confidential. We may also release your information when we believe release is appropriate to comply with the law, enforce our site policies, or protect ours or others' rights, property, or safety.

%h3 Third party links

%p Occasionally, at our discretion, we may include links to third party websites. These third party sites have separate and independent privacy policies. We, therefore, have no responsibility or liability for the content and activities of these linked sites. Nonetheless, we seek to protect the integrity of our site and welcome any feedback about these sites.

%h3 Web servers

%p Our web servers are managed by Engine Yard.  You can read more about their security procedures on the #{link_to "Engine Yard website.", "http://www.engineyard.com/"}

%h3 Your consent

%p By using our site, you consent to our privacy policy.

%p In compliance with our obligations to the Princeton University Institutional Review Board for Human Subjects, we reserve the right to remove, at any time, any content that we deem objectionable in any way, or which creates any physical, legal, social, or psychological risk to individuals.

%h3 Changes to our Privacy and Consent Policy

%p We reserve the right to change our privacy policy from time to time at our sole discretion. Please periodically check this section to review the current version of the Privacy and Consent Policy.  All our previous policies are presented below, and we will continue to update this page if any changes are needed.

%p #{link_to "Older version of privacy and consent policy (in place from July 6, 2009 to December 20, 2011)", privacy_2009_07_06_path}
