.container_16
  #primary_content
    #hd.center
      %h1.no_margin
        =h @question.name
      %p.gray.small_margin_bottom
        =t('common.instructions')
        =link_to_function t('common.how_does_this_work'), "$('#how_does_this_work').dialog('open');"
      #prompt
        =render(:partial => 'questions/prompt')
    .center{:style => 'padding-bottom:20px'}
      .small_margin_bottom
        =link_to_function t('vote.cant_decide'), "$('#cant_decide_options').dialog('open');", :id => "cant_decide_btn"
      =link_to_function t('vote.add_your_idea_button'), "$('#add_photo').dialog('open');", :class => 'blue button', :id => 'add_photo_button_for_dialog'

.container_12
  #secondary_content
    .grid_4
      %h5.no_margin
        Your <span id="visitor_votes"></span> vote<span id="s">s</span>
        -if @show_average_votes
          %span.normal= "(average is <span id='average_votes'>#{@question.attributes['average_votes']}</span>)"
      .padding
        %ul#your_votes
    .grid_4.center
      %h5.no_margin
        = t('common.X_votes_on_Y_ideas',
            :votes_count => @question.attributes['votes_count'].to_i,
            :ideas_count => @question.attributes['item_count'] - @question.attributes["inactive_choices_count"],
            :"1" => '<span id="votes_count">',
            :"_1" => "</span>",
            :"2" => '<span id="item_count">',
            :"_2" => '</span>')

      .padding
        =link_to t('nav.view_results'), url_for(:action => :results, :controller => :questions, :id => params[:id]), :class => 'button'
        .admin-link.small_margin_top
          -if !current_user.nil? && (current_user.owns?(@earl) || current_user.admin?)
            =link_to t('nav.manage_question'), url_for(:controller => :questions, :action => :admin, :id => @earl.name)

    .grid_4
      %h5.no_margin=t('common.about_this_survey')
      .padding
        .margin_bottom.center
          -if @earl && !@earl.logo_file_name.blank?
            = image_tag(@earl.logo.url(@earl.logo_size.to_sym))
          -else
            =image_tag "photocracy/footer_logos.png", :width => 113, :height => 50
            <br />
            %strong
              Powered by 
              =link_to "photocracy.org", "http://photocracy.org"
            <br />
            Photocracy is supported by grants from Google<br />
            and CITP at Princeton University.
  .clear

  #cant_decide_options{:style => 'display:none', :title => t('vote.cant_decide_title')}
    %form{:action => "#{skip_question_prompt_url(@question.id, @prompt.id, :format => :js)}", :id => 'cant_decide_form'}
      -options= %w(like_both dislike_both both_same other user_other)
      %p
        -options.each do |choice|
          %label
            =radio_button_tag "cant_decide_reason", choice.to_s, false
            =t('vote.cd_'+choice)

          -if choice == 'user_other'
            =text_field_tag 'reason_text', {}, :maxlength => 140, :id => 'user_cd_reason'
          %br
      %p
        %input.button{:type => 'submit', :value => "#{t('vote.submit')}", :class => "cd_submit_button"}

  -if @earl.flag_enabled?
    #flag_as_inappropriate{:style => 'display:none', :title => t('vote.flag_as_inappropriate')}
      %form{:action => "#{flag_question_prompt_url(@question.id, @prompt.id, :format => :js)}", :id => 'flag_as_inappropriate_form'}
        = t('vote.please_explain_flag')
        %p
          = text_area_tag 'inappropriate_reason', "", :style => 'width:100%'
          = hidden_field_tag 'inappropriate_side'
        %p
          %input.flag_submit_button.button{:type => 'submit', :value => "#{t('vote.submit')}"}

  #add_photo{:style => 'display:none;', :title => t('vote.add_your_idea_button')}
    #photo_step_1
      %p
        By uploading an image, I agree to place my image in the public domain under a
        =link_to 'Creative Commons CC0 waiver', "http://creativecommons.org/publicdomain/zero/1.0/", :target => '_blank'
      %p#file_error{:style => 'display:none;color:red;'}
        =t('vote.photo_format_error')
      %p
        %input{:type => 'submit', :value => t('vote.choose_file'), :href => add_idea_question_url(@question, :format => :js), :id => 'choose_file', :question_id => @question.id}

    #photo_step_2{:style => 'display:none'}
      %p
        =t('vote.uploading_photo')
      =image_tag('/images/photocracy/indicator.gif')

    #photo_step_3{:style => 'display:none'}
      .photo_container
        .float_left{:style => 'width:40%;'}
          .photo_success_message
            %p
              %strong
                =t('vote.thanks')
              %br
              -if @question.attributes['it_should_autoactivate_ideas']
                =t('vote.photo_accepted')
              -else
                =t('vote.photo_submitted')
          .photo_error_message
            Whoops! There was a problem uploading this image.
            #photo_details_message
              Please try again


        .float_right{:style => 'width:40%;'}
          %img{:id => 'uploaded_thumbnail', :style => 'display:none'}
      %br
      %br
      %br
      =link_to_function t('vote.add_another_idea_button'), "$('#add_photo').dialog('close'); $('#add_photo').dialog('open');", :class => 'blue button float_right', :id => 'add_photo_button_for_dialog', :style => 'font-size:0.8em;'
  
  #how_does_this_work{:style => 'display:none;'}
    %p
      You are participating in a "photocracy" (photo + democracy) that enables groups to collect and prioritize photos in a democratic, open, and efficient process. By combining open uploading of photos with a simple voting process, the best photos in your group will “bubble up” to the top.

    %h6 1. How do I participate?
    %p 
      There are two ways you can participate.  You can vote on the photo you prefer in each pair by clicking on that photo.  You can also upload your own photos to be voted on by other people.

    %h6 2. How many votes can I cast?  When does it end?
    %p 
      You can vote as little or as much as you want, and you can stop voting at any time.

    %h6 3. How many photos can I add?  What happens to my photo once I add it?
    %p
      You can add as many photos as you wish.  Once you add a photo, it may be reviewed by the person who created the photocracy in order to assure that it is not inappropriate.  Once the idea has been reviewed, it will start appearing for people to vote on it.
    %p
      By uploading your photo, you agree to place it in the public domain under a <a href="http://creativecommons.org/publicdomain/zero/1.0/">Creative Commons CC0 waiver</a>.

    %h6 4. Can I see what everyone else thinks?
    %p
      Yes – simply click on “View Results” at the bottom of the voting screen.  This process is completely transparent.

    %h6 5. This is neat.  Can I make one of these myself?
    %p
      Sure.  It’s easy to set up your own photocracy, and it’s completely free, thanks to our grants from Google and the Center for Information Technology Policy at Princeton University.  You can create your own photocracy here: <a href="http://photocracy.org">photocracy.org</a>

  :javascript
    $(document).ready(function(){
      $('#cant_decide_options').dialog({autoOpen:false, modal:true, width:330});

      $('#flag_as_inappropriate').dialog({autoOpen:false, modal:true, width:450});

      $('#add_photo').dialog({
        autoOpen:false,
        width:400,
        beforeclose: function(event, ui) {
          $('#photo_step_1').show();
          $('#file_error').hide();
          $('#photo_step_2').hide();
          $('#photo_step_3').hide();
        }
      });
      
      $('#how_does_this_work').dialog({autoOpen:false, width:600, height: 800});

      // load the visitor's voting history
      jQuery.get('/questions/#{@question.id}/visitor_voting_history.json', function(data){

        updateVisitorVotes(data['votes'].length);

        jQuery.each(data['votes'], function() {
          var left_url = "/#{@earl.name}/choices/" + this['left_choice_id'] + "?locale=" + RAILS_LOCALE;
          var right_url = "/#{@earl.name}/choices/" + this['right_choice_id'] + "?locale=" + RAILS_LOCALE;

          addThumbnailsToHistory(this['left_choice_thumb'], left_url, this['right_choice_thumb'], right_url, data['voted_at'], this['winner']);
        });
    	});
      jQuery.preLoadImages('#{@future_left_choice_photo.image.url(:medium)}','#{@future_right_choice_photo.image.url(:medium)}');
    });
