.container_16
  #primary_content
    #hd.center
      %h1.no_margin
        =h @question.name
      %p.gray.small_margin_bottom
        =t('common.instructions')
        =link_to t('common.how_does_this_work'), '#'
      #prompt
        =render(:partial => 'questions/prompt')
    .center{:style => 'padding-bottom:20px'}
      .small_margin_bottom
        =link_to_function t('vote.cant_decide'), "$('#cant_decide_options').dialog('open');"
      =link_to t('vote.add_your_idea_button'), add_idea_question_url(@question, :format => :js), :class => 'blue button', :id => 'add_photo_button', :question_id => @question.id

.container_12
  #secondary_content
    .grid_4
      %h5.no_margin
        =t('common.your_votes')
        %span.normal="(#{t('common.average')} is 12)"
      .padding
        %ul#your_votes
    .grid_4.center
      %h5.no_margin
        ="#{@question.attributes['votes_count'].to_i} #{t('common.votes_on')} #{@question.attributes['item_count'] - @question.attributes["inactive_choices_count"]} #{t('common.items')}"
      .padding
        =link_to t('nav.view_results'), url_for(:action => :results, :controller => :questions, :id => params[:id]), :class => 'button'

    .grid_4
      %h5.no_margin=t('common.about_this_survey')
      .padding
        .margin_bottom.center
          =image_tag "photocracy/alum_logo.png", :width => 100, :height => 100
          <br />
          Organized by<br />
          %strong Princeton Alumni Association
        .clear
        .center
          =image_tag "photocracy/footer_logos.png", :width => 113, :height => 50
          <br />
          %strong
            Powered by 
            =link_to "photocracy.org", "http://photocracy.org"
          <br />
          Photocracy is supported by grants from Google<br />
          and CITP at Princeton University.
  .clear

  #cant_decide_options{:style => 'display:none', :title => t('vote.cant_decide_title')}
    %form{:action => "#{skip_question_prompt_url(@question.id, @prompt.id, :format => :js)}", :id => 'cant_decide_form'}
      -options= %w(like_both dislike_both both_same other user_other)
      %p
        -options.each do |choice|
          %label
            =radio_button_tag "cant_decide_reason", choice.to_s, false
            =t('vote.cd_'+choice)

          -if choice == 'user_other'
            =text_field_tag 'reason_text', {}, :maxlength => 140, :id => 'user_cd_reason'
          %br
      %p
        %input.button{:type => 'submit', :value => "#{t('vote.submit')}"}

  -if @earl.flag_enabled?
    #flag_as_inappropriate{:style => 'display:none', :title => t('vote.flag_as_inappropriate')}
      %form{:action => "#{flag_question_prompt_url(@question.id, @prompt.id, :format => :js)}", :id => 'flag_as_inappropriate_form'}
        = t('vote.please_explain_flag')
        %p
          = text_area_tag 'inappropriate_reason', "", :style => 'width:100%'
          = hidden_field_tag 'inappropriate_side'
        %p
          %input.button{:type => 'submit', :value => "#{t('vote.submit')}"}

  #upload_status{:style => 'display:none;', :title => t('vote.add_your_idea_button')}
    #upload_status_message
      %p Uploading your photo...
      =image_tag 'photocracy/indicator.gif'

  :javascript
    $(document).ready(function(){
      $('#cant_decide_options').dialog({autoOpen:false, modal:true, width:330});

      $('#flag_as_inappropriate').dialog({autoOpen:false, modal:true, width:450});

      $('#upload_status').dialog({autoOpen: false, modal: true, width: 400,
        close: function(event, ui) {
          $('#upload_status_message').html(
            "<p>Uploading your photo...</p><img src='/images/photocracy/indicator.gif' />"
          )
        }
      });
    });
