%h2= t('user.change_your_password')

%p= t('user.choose_password_below')

= form_for :user, :url  => user_password_path(@user, :token => @user.confirmation_token), :html => { :method => :put } do |form|
  - if @user.errors.any?
    .errorExplanation
      %h2= "#{@user.errors.size} #{t('questions.new.error.header')}"
      %ul
        - @user.errors.full_messages.each do |message|
          %li= message
  %table.left
    %tr
      %td= form.label :password, t('user.password')
      %td= form.password_field :password, :as => :password 
    %tr
      %td= form.label :password_confirmation, t('user.password_confirmation')
      %td= form.password_field :password_confirmation, :as => :password 
    %tr
      %td
      %td= form.submit t('user.save_password_button'), :class => 'form-btn'

