%html{:xmlns => "http://www.w3.org/1999/xhtml", :'xml:lang' => "en", :lang => "en"}
  %head 
    %meta{:'http-equiv' => "content-type", :content => "text/html;charset=UTF-8"}
    %meta{:NAME =>"ROBOTS", :CONTENT => "NOINDEX, NOFOLLOW"}
    <script src="/javascripts/widget/jquery.scrollTo-1.4.2-min.js" type="text/javascript"></script>
%body
  .results_content{:style => 'overflow:auto;', :id => 'results_content'}
    %table.question.center.no_padding
      %tr.question_text
        %td= @question.attributes['name']
    .results_data.ninety
      %table.full{:style => 'margin-top: 5px'}
        %tr.row0
          %td.idea.header_padding= t('items.idea')
          %td.link_style{:style => 'text-align: left'}
            %span= t('common.score').titleize + ' '
            %a.question_mark{:href => '#score_link'}= '[?]'
          %td &nbsp
      %table.full{:style => 'margin-top: 5px'}
        -alt=false
        -for choice in @choices
          %tr{:class => "row#{(alt = !alt) ? 1 : 2}"}
            %td.idea_padding.idea_result
              =truncate(h(choice.data), :length => 137)
            %td
              .score{:style => 'text-align: left;'}= choice.attributes['score'].round.to_s
            %td
              .bar-chart
                %div{:style => "width:#{choice.attributes['score']}%"}
      -if params[:more] && !params[:all]
        = paginated = will_paginate @choices, :previous_label => I18n.t('results.previous'), :next_label => I18n.t('results.next') 
        -if paginated
          .center=link_to("See All #{@question.active_choices} Ideas", :action => :results, :all => true)
      %br

      #explanation
        %h2= t('items.about_scoring')
        =t('items.score_explain')    
      %br
      -# Add enough breaks to make it so that clicking [?] jumps to #explanation, if necessary
      -if (@question.attributes['choices_count'] < 10)
        -for i in (0..8)
          %br
