.container_12
  =render :partial => 'photocracy/questions/results_header'
  .grid_3
    &nbsp;
  .grid_8
    %table.admin
      %thead 
        %tr.row0
          %th
          %th.score= t('items.score')
          %th.score= t('questions.source')
          %th.score= t('items.list.activated')
      %tbody 
        -@choices.each do |choice|
          %tr{:class => cycle ("row1", "row2")}
            %td.title= link_to  image_tag(Photo.find(choice.data).image.url(:thumb)), :action => 'show', :controller => "choices", :id => choice.id, :question_id => @earl.name
            %td.votes= choice.attributes['score'].round.to_s
            %td.votes= choice.attributes['user_created'] ? t('admin.user') : t('admin.seed')
            %td.votes{:id => "choice_#{choice.id}_status"}
              %label{:class => ('Deactivated' unless choice.active?)}
                = check_box_tag :choice_active, choice.id, choice.active?, :class => 'activation', :href => toggle_choice_status_url(@earl.id, choice.id, :format => :js) if @choices.size > 3
                %span= choice.active? ? t('items.list.activated') : t('items.list.deactivated')

    %p
      = t('admin.this_question_created') + " #{time_ago_in_words(@earl.created_at)} " + t('admin.ago') 
      = t('admin.and_registered_to') + ": " + @earl.user.email
    
    %h7.strong= t('admin.optional_question_settings')
    %p
      %label
        = check_box_tag :auto_activate, @question.id, @question.it_should_autoactivate_ideas?, :class => 'auto_activation', :href => toggle_autoactivate_question_url(@question, :format => :js)
        %span= t('admin.auto_activate_exp')
  
    %div{:style => 'border:1px solid #ccc;padding:10px;margin-bottom:20px;float:left;'}
      %h6=t('admin.additional_settings')
      -form_for :earl, @earl, :url => { :action => "update" }, :html => {:method => :put, :multipart => true} do |f|
        -unless f.error_messages.blank?
          :javascript
            $(document).ready(function(){
              document.getElementById('errorExplanation').scrollIntoView(true);
            });
          =f.error_messages
      
        %h7.strong.no_margin= t('admin.password_protect_exp')
        %p
          = "#{t('admin.username')}: #{@earl.name} <br />"
          = f.label :pass, "#{t('user.password')}:"
          = f.text_field :pass, :id => "passfield"
        %h7.strong.no_margin= t('admin.google_analytics_code')
        %p
          = t('admin.google_analytics_code') 
          = link_to('[?]', 'http://blog.allourideas.org/post/947544304/add-google-analytics-on-your-idea-marketplace', :target=> '_blank')
          = f.text_field :ga_code
      
        -#%h7.strong.no_margin
          -if @earl.logo_file_name
            =link_to("Delete existing logo", delete_logo_question_path(:id => @earl.name), :method => :delete)
            %br
            =t('admin.replace_logo_exp')
          -else
            =t('admin.upload_logo_exp')
        -#%p= f.file_field :logo
      
        / %h6.no_margin= t('admin.welcome_msg_exp')
        / =link_to('[?]', '#welcome_msg_explanation', :rel => 'facebox')
        / = f.text_area :welcome_message, :rows => 4, :cols => 65
      
        / = t('admin.default_lang_exp')
        / = f.select :default_lang, [["English", "en"], ["French", "fr"], ["Spanish", "es"], ["Portuguese", "pt"]]
      
        / = t('admin.allow_flag_as_inappropriate')
        / = f.select :flag_enabled, [["Enabled", true], ["Disabled", false]]
      
        = submit_tag "Save", {:id => "savebutton", :class => "fright", :style => "margin: 0 10px 0px 0"}
    .clear

    %h7.strong= t('admin.download_idea_marketplace_data')
    %ul
      %li
        = t('admin.list_of_ideas_csv')
        = link_to('[?]', 'http://blog.allourideas.org/post/2739358388/download-your-data', :target=> '_blank')
        = link_to('[' + t('admin.request') + ']', {:action => :export, :params => {:type => :ideas}}, :rel => 'facebox', :id => 'ideas_request_link')
  
      %li
        = t('admin.list_of_votes_csv')
        = link_to('[?]', 'http://blog.allourideas.org/post/2739358388/download-your-data', :target=> '_blank')
        = link_to('[' + t('admin.request') + ']', {:action => :export, :params => {:type => :votes}}, :rel => 'facebox',:id => 'votes_request_link')
  
      %li
        = t('admin.list_of_non_votes_csv')
        = link_to('[?]', 'http://blog.allourideas.org/post/2739358388/download-your-data', :target=> '_blank')
        = link_to('[' + t('admin.request') + ']', {:action => :export, :params => {:type => :non_votes}}, :rel => 'facebox', :id => 'non_votes_request_link')
  .grid_2
    &nbsp;
  .clear
