.container_12
  .grid_8
    %h4= t('questions.new.header')

    -form_for :question, @question, :url => questions_path, :html => {:id => 'new_question_form'} do |f|
      %p
        = f.error_messages :header_message => "#{@question.errors.length} #{t('questions.new.error.header')}"
        - if @user && @user.errors.any?
          #errorExplanation.errorExplanation
            %h6{:style => 'color:red;'}=t('questions.new.error.registration')

            %ul
              -@user.errors.each do |error|
                - if error =~ /Email has already been taken/i
                  %li= t('questions.new.error.already_taken') + " " + link_to(t('questions.new.error.already_taken_link'), '/sign_in').html_safe
                - else
                  %li= error.capitalize

      %h6.no_margin= t('questions.new.step1')
      %p
        == #{t('questions.new.display_text')} <br />

        = f.text_field 'name', :size => 80, :title => t('questions.new.step1_exp'), :class => 'required', :maxlength => Const::MAX_QUESTION_LENGTH, :placeholder => t('questions.new.step1_exp')


      %h6.no_margin= t('questions.new.step2')
      %p
        http://www.photocracy.org/
        = f.text_field 'url', :class => 'required', :title => (@question && @question.url) || t('questions.new.step2_exp'), :placeholder => t('questions.new.step2_exp')
      .clear

      -unless signed_in?
        %h6.no_margin= t('questions.new.step4')
        %p
          = t('questions.new.new_account_exp')
          ="#{t('questions.new.if_you_have_an_account')} " + link_to(t('questions.new.here').html_safe, sign_in_path).html_safe + '.'
        %p
          = "#{t('user.email')} <br />"
          = f.text_field 'email', :class => 'required email', :title => t('questions.new.your_email_address')

        %p
          = "#{t('user.password')} <br />"
          = f.password_field 'password', :class => 'required'

      %h6.no_margin
        ="Step #{signed_in? ? 3 : 4}: #{t('questions.new.help_us_out')} (#{t('questions.new.optional')})"
      %p
        = t('questions.new.tell_us_why')
        %br
        = t('questions.new.tell_us_why2')
        %br
        = f.text_area 'information', :cols => 60, :rows => 12

      %p= submit_tag t('questions.new.next_step_upload_photos'), :class => 'button blue', :id => "question_create_button"

      #indicator.indicator{:style => "display:none;"}= image_tag('indicator.gif')

  .grid_4
    %div{:style => 'margin-top:30px;padding:10px;border:1px solid #ccc;'}
      %h6= t('questions.new.sidebar')
      %p
        = t('questions.new.exp')
        = link_to(t('questions.new.see_an'), "/happiness")

  .clear


  :javascript
    $(document).ready(function(){
      $('#new_question_form').submit(function(){
        $('#indicator').show();
        $('#question_create_button').hide();
      });
    });
