<%- include('../header.html.ejs') %>

<% if (activity.type == 'activity.post.new') { %>
  <h1 style="font-weight: 600;line-height: 1.1em;margin: 0;font-size: 16pt;padding-top: 8px;"><%= post.id == user.id ? t('notification.email.postNewsSelf') : t('notification.email.postNew') %></h1>
<% } if (activity.type == 'activity.post.endorsement.new') { %>
  <h1 style="font-weight: 600;line-height: 1.1em;margin: 0;font-size: 14pt;padding-top: 8px;"><%= post.id == user.id ? t('notification.email.postEndorsementSelf') : t('notification.email.postEndorsement') %></h1>
<% } if (activity.type == 'activity.post.opposition.new') { %>
  <h1 style="font-weight: 600;line-height: 1.1em;margin: 0;font-size: 14pt;padding-top: 8px;"><%= post.id == user.id ? t('notification.email.postOppositionSelf') : t('notification.email.postOpposition') %></h1>
<% } if (activity.type == 'activity.report.content') { %>
  <h1 style="font-weight: 600;line-height: 1.1em;margin: 0;font-size: 16pt;padding-top: 8px;"><%= t('notification.email.postReport') %></h1>
<% } %>

<% if (isReportingContent && isAutomated && !isAutomatedVision) { %>
  <p style="padding-top: 8px;line-height: 1.2em">
    <b><%= t('notification.email.automaticToxicityDetection') %></b><br>
    <em><%= t('notification.email.automaticToxicityDetectionDisclaimer') %></em><br><br>
    <%= t('notification.email.automaticToxicityHowLikely') %>: <b><%= moderation.toxicityScorePercent %></b><br><br>
    <%= t('notification.email.automaticToxicityEnglishText') %>:<br><b><%= moderation.textUsedForScore %></b>
  </p>
<% } %>

<% if (isReportingContent && isAutomatedVision) { %>
  <p style="padding-top: 10px;line-height: 1.2em">
    <b><%= t('notification.email.automaticToxicityDetectionVision') %></b><br>
    <em><%= t('notification.email.automaticToxicityDetectionDisclaimer') %></em><br><br>
  </p>
<% } %>

<div style="padding-top: 8px">
  <% if (activity.type == 'activity.post.new') { %>
    <h2><%= t('notification.email.thisNewIdea') %> "<%=post.name %>" <%= t('notification.email.hasBeenPosted')%></h2>
  <% } else { %>
    <h2><%= post.name %></h2>
  <% } %>
</div>
<div style="padding-left: 20px;padding-top: 4px;">
  <p>
    <%= post.description %>
  </p>
</div>
<%= t('notification.email.youCanViewItHere') %>:
<%- linkTo("https://"+community.hostname+"."+domain.domain_name+"/post/"+post.id) %>
<br>
<%- include('../footer.html.ejs') %>
