%h3== #{t('items.items')} (#{@items.length})
%table.left
  %tr
    %th= t('items.list.content')
    %th= t('items.list.status')
    %th= t('items.list.change_status')
  -alt = false
  -for id, item, active in @items
    %tr{:class => "row#{(alt = !alt) ? 1 : 2}"}
      %td= link_to item, "item_path(id, :question_id => @id)"
      %td= status(active == '1')
      %td=# activate_link(id, active.to_i, @question_internal.id)
%hr
%h3= link_to t('items.create_new_items'), "new_admin_item_path(:question_id => @id)"