-short_circuit = Abingo.cache.read("Abingo::Experiment::short_circuit(#{experiment.test_name})".gsub(" ", ""))

%tr{:class => cycle('row1', 'row2')}
  %td.collapsible
    %a.collapsed{:href => '#'} +
  %td= experiment.test_name.titleize 
  %td= experiment.participants
  %td= experiment.conversions
  %td= experiment.pretty_conversion_rate
  %td= experiment.status == "Live" ? "Live" : "Completed"
  %td= link_to("[Details]", :action => :show, :id => experiment.id) 
-experiment.alternatives.each do |alternative|
  %tr.expand-child{:class => current_cycle}
    %td &nbsp;
    %td= h alternative.content
    %td= alternative.participants
    %td= alternative.conversions 
    %td= alternative.pretty_conversion_rate
    %td &nbsp;
    -unless experiment.status != "Live"
      %td= link_to("End experiment, picking this.", url_for(:id => alternative.id, :action => "end_experiment"),:method => :post, :confirm => "Are you sure you want to terminate this experiment?  This is not reversible.") 
    -else
      - if alternative.content == short_circuit
        All users seeing this.
