%h1= "Results for #{@experiment.test_name.titleize}"
.chart-container#votes-distribution-chart-container
-@experiment.alternatives.each do |a|
  %h2
    = "Alternative - #{a.content}"
    %table
      %tr
        %th Number of Votes
        %th Sessions that voted that amount
      -@voter_distribution[a.id].sort.each do |k,v|
        %tr  
          %td= k.to_s
          %td= v.to_s
      -@summary_stats[a.id].each do |k,v|
        %tr
          %th=k.to_s.humanize
          %th=v


- content_for :view_javascript do
  = @vote_distribution_chart

- content_for :head do 
  = render :partial => "shared/highcharts_header"
