%h1= "Results for #{@experiment.test_name.titleize}"
%table.table.table-striped
  %thead
    %th
    -@experiment.alternatives.each do |a|
      %th= a.content
    - if @experiment.alternatives.count == 2
      %th Difference
  %tbody
    -@summary_stats[@experiment.alternatives.first.content].sort{|a,b| a[0].to_s <=> b[0].to_s}.each do |k,v|
      %tr
        %th=k.to_s.humanize
        -@experiment.alternatives.each do |a|
          %td
            - if @summary_stats[a.content][k].class == Float && !@summary_stats[a.content][k].nan?
              = @summary_stats[a.content][k].round(2)
            - else
              = @summary_stats[a.content][k]
          - if @experiment.alternatives.count == 2 && a == @experiment.alternatives.last
            %td
              - first = @summary_stats[@experiment.alternatives.first.content][k].to_f
              - last  = @summary_stats[@experiment.alternatives.last.content][k].to_f
              - if !first.nan? && !last.nan?
                = (first - last).round(2)
              - else
                = first - last

-@experiment.alternatives.each do |a|
  %h2
    = "Alternative - #{a.content}"
  %table.table.table-condensed
    %thead
      %tr
        %th Number of Votes
        %th Sessions that voted that amount
    %tbody
      -@voter_distribution[a.content].sort.each do |k,v|
        %tr
          %td= k.to_s
          %td= v.to_s


.chart-container#votes-distribution-chart-container
- content_for :view_javascript do
  = @vote_distribution_chart

