%h1= "Results for #{@experiment.test_name.titleize}"
%table.table.table-striped
  %thead
    %th
    -@experiment.alternatives.each do |a|
      %th= a.content
  %tbody
    -@summary_stats[@experiment.alternatives.first.content].sort{|a,b| a[0].to_s <=> b[0].to_s}.each do |k,v|
      %tr
        %th=k.to_s.humanize
        -@experiment.alternatives.each do |a|
          %td= @summary_stats[a.content][k]

-@experiment.alternatives.each do |a|
  %h2
    = "Alternative - #{a.content}"
  %table.table.table-condensed
    %thead
      %tr
        %th Number of Votes
        %th Sessions that voted that amount
    %tbody
      -@voter_distribution[a.content].sort.each do |k,v|
        %tr  
          %td= k.to_s
          %td= v.to_s


.chart-container#votes-distribution-chart-container
- content_for :view_javascript do
  = @vote_distribution_chart

- content_for :head do 
  = render :partial => "shared/highcharts_header"
