-content_for :javascript do
  = javascript_include_tag '/images/wikipedia/jquery.autoresize.js'
  = javascript_include_tag '/images/wikipedia/jquery.placeholder.min.js'
  :javascript
    var AUTH_TOKEN = #{form_authenticity_token.inspect};
    var PAGE_LOADED_AT = new Date();
    var RAILS_LOCALE = '#{I18n.locale}';

    $(document).ready(function() {
      // placeholder support for legacy browsers
      $('input[placeholder], textarea[placeholder]').placeholder();

      // firefox caches the form values
      $('#new_idea').val('');
      $('#new_image_id').val('');

      // voting
      $('.vote').live('click', function(e) {
    		if ($(this).hasClass('loading')) {
    			alert("One sec, we're loading the next pair...");
    		} else {
    		  $('#spinner img').show();
    			$(this).addClass('chosen');
    			$('.vote').addClass('loading');
    			castVote($(this));
    		}
    		e.preventDefault();
      });

      // validating new ideas
      $('#new_idea').keyup(function() {
        updateSubmitButton();
        remaining = #{Const::MAX_ITEM_LENGTH} - $('#new_idea').val().length;
        $('#characters-remaining').html(remaining);

        if (remaining <= 0) {
          $('#characters-remaining').addClass('over');
        } else {
          $('#characters-remaining').removeClass('over');
        }
      })

      // keep text in textarea centered
      // when adding an idea
      $('textarea').autoResize({
        maxHeight: 170,
        extraSpace:0,
        animate:false,
        onAfterResize: function() {resetTextareaMargin()}
      });
    });

    function castVote(choice) {
    	var VOTE_CAST_AT = new Date();
    	vote_params = {
    	  direction: choice.attr('direction'),
        authenticity_token: encodeURIComponent(AUTH_TOKEN),
        time_viewed: VOTE_CAST_AT - PAGE_LOADED_AT,
        appearance_lookup: $('#appearance_lookup').val()
    	}

    	jQuery.ajax({
    		type: 'POST',
    		dataType: 'json',
    	  url: questionPromptUrl() + '/vote',
    	  data: vote_params,
    	  error: function(request, textStatus, errorThrown) {
    			voteError(request, textStatus, errorThrown);
    		},
    	  success: function(data, textStatus, request) {
          loadNextPrompt(data);
    		}
    	});
    };

    function loadNextPrompt(data) {
      // the ordering of these functions is important
      // because some rely on attrs of the .vote
      // and others modify those attrs
      changeIdeas(data);
      updateUrlsAndHiddenFields(data);
      $('.vote').removeClass('loading'); 
      $('.vote').removeClass('chosen');
      $('#spinner img').hide();
      PAGE_LOADED_AT = new Date(); // reset the page load time
    }

    function changeIdeas(data) {
    	jQuery.each(['left', 'right'], function(index, side) {
    		var current_ad = $('.vote.' + side + ' td');
    		var current_banner = $('.vote.' + side);

        // change ideas
    		current_ad.html(data['new' + side]);
        // change banner images
        current_banner.css('backgroundImage', "url(/images/wikipedia/ad/" + data[side + '_image_id'] + ".png)")
    	});

    	truncateIdeasIfTooTall()
    }

    function updateUrlsAndHiddenFields(data) {
      // change appearance_lookup and prompt_id hidden fields
    	$('#appearance_lookup').val(data['appearance_lookup']);
    	$('#prompt_id').val(data['prompt_id']);
    }

    function voteError(request, textStatus, errorThrown) {
    	alert(textStatus);
    }

    function submitIdea() {
      if (canSubmitIdea()) {
        $('#add-idea #submit-button').addClass('disabled');
        $.post(questionUrl() + '/add_idea.js?locale=en',
          {authenticity_token: AUTH_TOKEN, new_idea: $('#new_image_id').val() + '-' + $('#new_idea').val()},
          function(data){
            $('#add-idea.modal').modal('hide');
            $('textarea[name=new_idea]').val('');
            $('#add-idea #submit-button').removeClass('disabled');
            $('#add-idea-thanks').show();
            $('#add-idea-thanks').fadeOut(5000);

            $('#image-select').show();
            $('#image-show').hide();
            $('#change-image').hide();
            $('#new_image_id').val('');
            updateSubmitButton();
          }
        );
      }
      return false;
    }

    function submitCantDecide(reason) {
      $('#spinner img').show();
      var CANT_DECIDE_AT = new Date();
      $('.vote').addClass('loading');
      $('#cant-decide').modal('hide');
      $.post(questionPromptUrl() + '/skip.js',
        {
          authenticity_token: AUTH_TOKEN,
          cant_decide_reason: reason,
          appearance_lookup: $('#appearance_lookup').val(),
          time_viewed: CANT_DECIDE_AT - PAGE_LOADED_AT
        },
        function(data) {
          loadNextPrompt(data);
        }
      );
    }

    function canSubmitIdea() {
      if ($('#new_image_id').val() != '' &&
          $('#new_idea').val() != '' &&
          $('#new_idea').val() != 'Add text here' &&
          $('#new_image_id').val().length <= #{Const::MAX_ITEM_LENGTH}) {
        return true;
      } else {
        return false;
      }
    }

    function updateSubmitButton() {
      if (canSubmitIdea()) {
        $('#submit-button').removeClass('disabled');
        $('#submit-button').addClass('primary');
      } else {
        $('#submit-button').addClass('disabled');
        $('#submit-button').removeClass('primary');
      }
    }

    function selectAddIdeaImage(link) {
      $('#image-select').hide();
      $('#image-show').show();
      $('#change-image').show();

      image = $(link).attr('data-fullsize-image');
      $('#image-show').css('backgroundImage', 'url(' + image + ')');
      $('#new_image_id').val($(link).attr('data-image-id'));

      updateSubmitButton();
    }

    function changeIdeaImage() {
      $('#image-show').hide();
      $('#image-select').show();
      $('#change-image').hide();
      $('#new_image_id').val('');

      updateSubmitButton();
    }

    function questionPromptUrl() {
      return questionUrl() + '/prompts/' + $('#prompt_id').val();
    }

    function questionUrl() {
     return '/questions/' + $('#question_idd').val();
    }

    function resetTextareaMargin() {
      $('#new_idea').css('marginTop', $('#add-idea-banner').height() / 2 - $('#new_idea').height() / 2);
    }

=hidden_field_tag 'question_idd', @earl.question_id
=hidden_field_tag 'appearance_lookup', @question.attributes['appearance_id']
=hidden_field_tag 'prompt_id', @question.attributes['picked_prompt_id']

#add-idea-thanks.alert-message.success{:style => 'display:none;'}
  %p
    %strong Thanks!
    Your idea has been submitted for review. It will appear soon.

.row
  %h2.question{:style => 'font-size:20px'} Please click on the Wikipedia fundraising banner that makes you want to donate more.
  .vote.left{:direction => 'left', :id => 'leftside', :style => "background-image: url(/images/wikipedia/ad/#{@left_image_id}.png)"}
    %table.copy
      %tr
        %td=truncate(h(@left_choice_text), :length => 140, :omission => '…').gsub("\n","<br />")

  #spinner
    =image_tag('wikipedia/spinner.gif', :style => 'display:none')

  .vote.right{:direction => 'right', :id => 'rightside', :style => "background-image: url(/images/wikipedia/ad/#{@right_image_id}.png)"}
    %table.copy
      %tr
        %td=truncate(h(@right_choice_text), :length => 140, :omission => '…').gsub("\n","<br />")

#vote-footer.row
  %p= link_to "I can't decide", '#', 'data-controls-modal' => 'cant-decide', 'data-backdrop' => 'static'
  %p= link_to "Create a new banner", "#", :class => 'btn success', 'data-controls-modal' => 'add-idea', 'data-backdrop' => 'static'

#add-idea.modal{:style => 'display:none;'}
  .modal-header
    =link_to 'x', '#', :class => 'close'
    %h3 Create a new banner
  .modal-body
    .cleafix
      %h5{:style => 'float:left; width: 203px;'}
        Select an image:
        =link_to_function '(change)', "changeIdeaImage()", :id => 'change-image', :style => 'display:none; font-weight:normal;'
      %h5{:style => 'text-align:center'} Add your own text:
    #add-idea-banner
      #image-show{:style => 'display:none;'} &nbsp;
      #image-select
        -(1..7).each do |i|
          =link_to_function image_tag("/images/wikipedia/ad/#{'%04d' % i}-thumb.png"), "selectAddIdeaImage(this)", :style => 'float:left;', 'data-fullsize-image' => image_path("/images/wikipedia/ad/#{'%04d' % i}.png"), 'data-image-id' => ('%04d' % i), :class => 'image-select'
      .copy
        =text_area_tag 'new_idea', '', :title => 'Add text here', :placeholder => 'Add text here', :maxlength => Const::MAX_ITEM_LENGTH
        =hidden_field_tag('new_image_id')
  .modal-footer
    =link_to_function t('vote.submit'), "submitIdea()", :class => 'btn disabled', :id => 'submit-button'
    %h6#characters-remaining
      140

#cant-decide.modal{:style => 'display:none'}
  .modal-header
    =link_to 'x', '#', :class => 'close'
    %h3= t('vote.cant_decide_title')
  .modal-body        
    -cd_options= [['I like both banners', 'like_both'], ['I think both banners are basically the same', 'both_same'], ["I don't like either banner",'dislike_both']]
    - cd_options.each do |choice|
      %p= link_to_function choice[0], "submitCantDecide('#{choice[1]}')"

#faq.row.bottom
  %h2 Wikipedia Banner Challenge
  %h3 The <strike>encyclopedia</strike> fundraiser than anyone can edit
  %p
    Only about one in a thousand Wikipedia users donates, but we think we can improve that -- by finding better banners.  Please vote for the banner that makes you want to donate more.  If you have new ideas for banners, please upload them.  Some of the best banners will appear on Wikipedia during the fundraiser. 

.row.bottom
  %h3 FAQ
  %ul.faq
    %li
      %h5 How can I donate to the Wikimedia Foundation, the parent organization of Wikipedia?
      %p You can #{link_to 'donate here', 'http://wikimediafoundation.org/wiki/Donate'}.
    %li
      %h5 What does the Wikimedia Foundation do with the donations?
      %p Good stuff.  The two biggest expenses are technology and people.  You can read more about this in their #{link_to 'financial reports', 'http://wikimediafoundation.org/wiki/Home'}.
    %li
      %h5 Does Wikipedia know about this project?
      %p Of course.  In fact, they are watching the results carefully and will try out some of best ideas they see here.  That means that your banner could appear in front of Wikipedia users all over the world.
    %li
      %h5 Can I suggest a new image for a banner?
      %p Sure.  You can suggest any image from Wikimedia Commons.  Please post your suggestion to our #{link_to 'discussion forum', 'https://groups.google.com/forum/#!forum/wikipedia-banner-challenge'}.  Or, you can contact us by email: wbc at allourideas dot org.
    %li
      %h5 How many times can I vote?
      %p As many times as you want.  Each vote is helpful, and we will collect and process as many as you will give us.
    %li
      %h5 Can I be on a Wikipedia banner?
      %p Maybe.  Wikimedia Foundation is always looking for new people to be on banners.  Please send a message to wikistory@wikimedia.org with a compelling message about your personal Wikipedia experience and why you want to help.
    %li
      %h5 When does the Wikipedia Banner Challenge end?
      %p Official voting ends when the fundraiser ends.
    %li
      %h5 How can I help with the Wikipedia Banner Challenge?
      %p You can help by telling your friends about the project.  The more participants we have, the better banners we will find.

      %p Also, you can post suggestions, bug reports, and other ideas to our #{link_to 'discussion forum', 'https://groups.google.com/forum/#!forum/wikipedia-banner-challenge'}.  Or, you can contact us by email: wbc at allourideas dot org.
    %li
      %h5 What is #{link_to 'www.allourideas.org', 'http://www.allourideas.org'}?
      %p All Our Ideas is a research project to develop a new form of social data collection that combines the openness of interview with the quantification of a survey.  We love Wikipedia so we decided to try to help out with the fundraiser.  The #{link_to 'All Our Ideas', 'http://www.allourideas.org/about'} team is led by #{link_to 'Matthew Salganik', 'http://www.princeton.edu/~mjs3/'} from the #{link_to 'Department of Sociology at Princeton University', 'http://www.princeton.edu/sociology/'}, and the project is funded by grants from #{link_to 'Google', 'http://research.google.com/university/relations/research_awards.html'} and the #{link_to 'Center for Information Technology Policy', 'http://citp.princeton.edu/'} at #{link_to 'Princeton University', 'http://www.princeton.edu/main/'}.  You can learn more about the project on our #{link_to 'blog', 'http://blog.allourideas.org/'}.