-content_for :javascript do
  :javascript
    var AUTH_TOKEN = #{form_authenticity_token.inspect};
    var PAGE_LOADED_AT = new Date();
    var RAILS_LOCALE = '#{I18n.locale}';

    $(document).ready(function() {
      $('input').placeholder();

      // voting
      $('.vote').live('click', function(e) {
    		if ($(this).hasClass('loading')) {
    			alert("One sec, we're loading the next pair...");
    		} else {
    		  $('#spinner img').show();
    			$(this).addClass('chosen');
    			$('.vote').addClass('loading');
    			castVote($(this));
    		}
    		e.preventDefault();
      });
    });

    function castVote(choice) {
    	var VOTE_CAST_AT = new Date();
    	vote_params = {
    	  direction: choice.attr('direction'),
        authenticity_token: encodeURIComponent(AUTH_TOKEN),
        time_viewed: VOTE_CAST_AT - PAGE_LOADED_AT,
        appearance_lookup: $('#appearance_lookup').val()
    	}

    	jQuery.ajax({
    		type: 'POST',
    		dataType: 'json',
    	  url: questionPromptUrl() + '/vote',
    	  data: vote_params,
    	  error: function(request, textStatus, errorThrown) {
    			voteError(request, textStatus, errorThrown);
    		},
    	  success: function(data, textStatus, request) {
          loadNextPrompt(data);
    		}
    	});
    };

    function loadNextPrompt(data) {
      // the ordering of these functions is important
      // because some rely on attrs of the .vote
      // and others modify those attrs
      changeIdeas(data);
      updateUrlsAndHiddenFields(data);
      $('.vote').removeClass('loading'); 
      $('.vote').removeClass('chosen');
      $('#spinner img').hide();
      PAGE_LOADED_AT = new Date(); // reset the page load time
    }

    function changeIdeas(data) {
    	jQuery.each(['left', 'right'], function(index, side) {
    		var current_ad = $('.vote.' + side + ' > .copy');
    		var current_banner = $('.vote.' + side);

        // change ideas
    		current_ad.html(data['new' + side]);
        // change banner images
        current_banner.css('backgroundImage', "url(/images/wikipedia/ad/" + data[side + '_image_id'] + ".png)")
    	});
    }

    function updateUrlsAndHiddenFields(data) {
      // change appearance_lookup and prompt_id hidden fields
    	$('#appearance_lookup').val(data['appearance_lookup']);
    	$('#prompt_id').val(data['prompt_id']);
    }

    function voteError(request, textStatus, errorThrown) {
    	alert(textStatus);
    }

    function submitIdea() {
      idea_text = $('textarea[name=new_idea]').val();
      image_id = $('#new_image_id').val();
      if (idea_text != 'Add text here' && idea_text != '' && image_id != '') {
        $('#add-idea #submit-button').addClass('disabled');
        $.post(questionUrl() + '/add_idea.js?locale=en',
          {authenticity_token: AUTH_TOKEN, new_idea: image_id + '-' + idea_text},
          function(data){
            $('#add-idea.modal').modal('hide');
            $('textarea[name=new_idea]').val('');
            $('#add-idea #submit-button').removeClass('disabled');
            $('#add-idea-thanks').show();
            $('#add-idea-thanks').fadeOut(5000);

            $('#image-select').show();
            $('#image-show').hide();
            $('#change-image').hide();
            $('#new_image_id').val('');
          }
        );
      }
      return false;
    }

    function submitCantDecide(reason) {
      $('#spinner img').show();
      var CANT_DECIDE_AT = new Date();
      $('.vote').addClass('loading');
      $('#cant-decide').modal('hide');
      $.post(questionPromptUrl() + '/skip.js',
        {
          authenticity_token: AUTH_TOKEN,
          cant_decide_reason: reason,
          appearance_lookup: $('#appearance_lookup').val(),
          time_viewed: CANT_DECIDE_AT - PAGE_LOADED_AT
        },
        function(data) {
          loadNextPrompt(data);
        }
      );
    }

    function selectAddIdeaImage(link) {
      $('#image-select').hide();
      $('#image-show').show();
      $('#change-image').show();

      image = $(link).attr('data-fullsize-image');
      $('#image-show').css('backgroundImage', 'url(' + image + ')');
      $('#new_image_id').val($(link).attr('data-image-id'));
    }

    function questionPromptUrl() {
      return questionUrl() + '/prompts/' + $('#prompt_id').val();
    }

    function questionUrl() {
     return '/questions/' + $('#question_idd').val();
    }

=hidden_field_tag 'question_idd', @earl.question_id
=hidden_field_tag 'appearance_lookup', @question.attributes['appearance_id']
=hidden_field_tag 'prompt_id', @question.attributes['picked_prompt_id']

#add-idea-thanks.alert-message.success{:style => 'display:none;'}
  %p
    %strong Thanks!
    Your idea has been submitted for review. It will appear soon.

.row
  %h2.question{:style => 'font-size:20px'} Please click on the Wikipedia fundraising banner that makes you want to donate more.
  .vote.left{:direction => 'left', :id => 'leftside', :style => "background-image: url(/images/wikipedia/ad/#{@left_image_id}.png)"}
    .copy
      =truncate(h(@left_choice_text), :length => 140)

  #spinner
    =image_tag('wikipedia/spinner.gif', :style => 'display:none')

  .vote.right{:direction => 'right', :id => 'rightside', :style => "background-image: url(/images/wikipedia/ad/#{@right_image_id}.png)"}
    .copy
      =truncate(h(@right_choice_text), :length => 140)

#vote-footer.row
  %p= link_to "I can't decide", '#', 'data-controls-modal' => 'cant-decide', 'data-backdrop' => 'static'
  %p= link_to "Create a new banner", "#", :class => 'btn success', 'data-controls-modal' => 'add-idea', 'data-backdrop' => 'static'

#add-idea.modal{:style => 'display:none;'}
  .modal-header
    =link_to 'x', '#', :class => 'close'
    %h3 Create a new banner
  .modal-body
    .cleafix
      %h5{:style => 'float:left; width: 370px;'}
        Select an image:
        =link_to_function '(change)', "$('#image-show').hide(); $('#image-select').show(); $(this).hide(); $('#new_image_id').val('')", :id => 'change-image', :style => 'display:none; font-weight:normal;'
      %h5 Add your own text:
    #add-idea-banner
      #image-show{:style => 'display:none;'} &nbsp;
      #image-select{:style => 'width:203px; float:left; padding: 5px;'}
        -(1..7).each do |i|
          =link_to_function image_tag("/images/wikipedia/ad/#{'%04d' % i}-thumb.png"), "selectAddIdeaImage(this)", :style => 'float:left;', 'data-fullsize-image' => image_path("/images/wikipedia/ad/#{'%04d' % i}.png"), 'data-image-id' => ('%04d' % i)
      .copy
        =text_area_tag('new_idea', '', :title => 'Add text here', :placeholder => 'Add text here', :maxlength => Const::MAX_ITEM_LENGTH)
        =hidden_field_tag('new_image_id')
  .modal-footer
    =link_to_function t('vote.submit'), "submitIdea()", :class => 'btn primary', :id => 'submit-button'

#cant-decide.modal{:style => 'display:none'}
  .modal-header
    =link_to 'x', '#', :class => 'close'
    %h3= t('vote.cant_decide_title')
  .modal-body        
    -cd_options= [['I like both banners', 'like_both'], ['I think both banners are basically the same', 'both_same'], ["I don't like either banner",'dislike_both']]
    - cd_options.each do |choice|
      %p= link_to_function choice[0], "submitCantDecide('#{choice[1]}')"

#faq.row.bottom
  %h3 The <strike>encyclopedia</strike> fundraiser than anyone can edit
  %p
    Only about one in a thousand Wikipedia users donate, but we think we can improve that -- by finding better text for the banners.  For a given picture, you will see two possible banner texts.  Please click on the one that makes you want to donate more.  If you have a suggestion for better text, please upload it.  Some of the best ideas will appear on real banners during the fundraiser.  This is the <strike>encyclopedia</strike> fundraiser anyone can edit.

.row.bottom
  %h3 FAQ
  %ul.faq
    %li
      %h5 How can I donate to Wikimedia Foundation, the parent organization of Wikipedia?
      %p You can #{link_to 'donate here', 'http://wikimediafoundation.org/wiki/Donate'}.
    %li
      %h5 What does Wikipedia and the Wikimedia Foundation do with the donations?
      %p Good stuff.  The two biggest expenses are technology and people.  You can read more about this in their #{link_to 'financial reports', 'http://wikimediafoundation.org/wiki/Home'}.
    %li
      %h5 Does Wikipedia know about this project?
      %p Of course.  In fact, they are watching the results carefully and will try out some of best ideas they see here.  That means that your text could be on banners all over the world.
    %li
      %h5 Why do I always see the same picture on both banners?
      %p We are trying to find the best banner text to go with each picture.  This head-to-head comparison is the best way to do it.
    %li
      %h5 Can I suggest a new image for a banner?
      %p Sure, you can suggest any image from Wikimedia Commons.  Please email us a link to the image (#{mail_to 'info@allourideas.org'}) and we will review it.
    %li
      %h5 Does this ever end?
      %p Nope.  Please keep voting as long as you want.  Each vote is helpful, and we will collect and process as many or as few as you will give us.
    %li
      %h5 What new banner text should I suggest? I can’t think of anything.
      %p Don’t worry, just upload it.  Be bold because the voting process will help us find the best.
    %li
      %h5 Can I be on a Wikipedia banner?
      %p Maybe.  Wikimedia Foundation is always looking for new people to be on banners.  Please send a message to #{mail_to 'wikistory@wikimedia.org'} with a compelling message about your personal Wikipedia experience and why you want to help.
    %li
      %h5 How can I get more involved in this project?
      %p Please email your suggestions, bug reports, or favorite joke to #{mail_to 'info@allourideas.org'}.
    %li
      %h5 What is #{link_to 'www.allourideas.org', 'http://www.allourideas.org'}?
      %p All Our Ideas is a research project to develop a new form of social data collection that combines the openness of interview with the quantification of a survey.  We love Wikipedia so we decided to try to help out with the fundraiser.  The #{link_to 'All Our Ideas', 'http://www.allourideas.org/about'} team is led by #{link_to 'Matthew Salganik', 'http://www.princeton.edu/~mjs3/'} from the #{link_to 'Department of Sociology at Princeton University', 'http://www.princeton.edu/sociology/'}, and the project is funded by grants from #{link_to 'Google', 'http://research.google.com/university/relations/research_awards.html'} and #{link_to 'Center for Information Technology Policy', 'http://citp.princeton.edu/'} at #{link_to 'Princeton University', 'http://www.princeton.edu/main/'}.  You can learn more about the project on the #{link_to 'allourideas blog', 'http://blog.allourideas.org/'}.