!!! 5
%html
  %head
    %link{:rel => "shortcut icon", :href => "http://www.allourideas.org/favicon.ico"}
    %title= t('common.title')
    = stylesheet_link_tag 'http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css'
    = javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js'
    = javascript_include_tag 'http://twitter.github.com/bootstrap/1.4.0/bootstrap-modal.min.js'
    :css
      body {
        margin-top: 10px;
      }

      div#header {
        opacity: 0.4;
        filter: alpha(opacity = 40);
        background: #fff;
      }

      div#header:hover {
        filter: alpha(opacity = 100);
      }

      ul.nav {
        float: right;
      }

      ul.nav a:hover {
        color: #0069D6;
        text-decoration: underline;
      }

      h2.question {
        text-align: center;
        margin-bottom: 35px;
      }

      div.vote, #add-idea-banner, div.banner {
        height: 172px;
        border: 1px solid silver;
        background-repeat: no-repeat;
        background-position: left bottom;
        margin-bottom: 35px;
        width: 780px;
        margin-left: auto;
        margin-right: auto;
      }

      #add-idea-banner {
        margin-bottom: 0;
      }

      #add-idea #image-show {
        background-repeat: no-repeat;
        background-position: left bottom;
        width: 203px;
        height: 172px;
        float: left;
      }

      #add-idea #image-select {
        width: 203px;
        float: left;
        line-height: 9px;
      }

      #add-idea a.image-select img {
        border: 1px solid #fff;
      }
      #image-select .pagination a {
        line-height: 30px;
      }

      #add-idea a.image-select:hover img {
        border: 1px solid #0069D6;
      }

      #characters-remaining {
        float: right;
        margin-right: 10px;
        margin-top: -4px;
      }
      #characters-remaining.over {
        color: red;
      }

      div.vote.left {
        margin-bottom: 10px;
      }

      #spinner {
        height: 25px;
        margin-bottom: 10px;
        text-align: center;
      }

      div.vote {
        opacity: 0.9;
        filter: alpha(opacity = 90);
      }

      div.vote:hover {
        border: 1px solid #0069D6;
        cursor: pointer;
        opacity: 1.0;
        filter: alpha(opacity = 100);
      }

      table.copy, #add-idea-banner textarea {
        text-align: center;
        color: navy;
        font-family: Helvetica, Arial, sans-serif;
        font-size: 29px;
        font-weight: bold;
        height: 100%;
        line-height: 28px;
      }

      #add-idea textarea {
        right: 50px;
        width: 556px;
        height: 30px;
        border: none;
        box-shadow: none;
        resize: none;
        margin-top: 69px;
        position: absolute;
        padding: 0;
      }

      table.copy {
        border: none;
        padding: 0;
        margin: 0;
      }

      table.copy td {
       vertical-align: middle;
       text-align: center;
       padding-left: 175px;
       padding-right: 20px;
       color: navy;
       font-family: Helvetica, Arial, sans-serif;
       font-size: 29px;
       font-weight: bold;
       line-height: 28px;
      }

      #add-idea.modal {
        width: 810px; /* width of #add-idea-background+30px */
        margin-left: -420px;
      }

      .modal-body {
        overflow: hidden;
      }

      div.vote.loading {
        filter: alpha(opacity = 50);
        opacity: 0.5;
      }

      div.vote.loading:hover {
       cursor: wait;
      }

      div.vote.chosen {
        filter: alpha(opacity = 100);
        opacity: 1;
        border-color: #111;
      }

      div#vote-footer {
        text-align: center;
        margin-bottom: 35px;
      }

      div.row.bottom {
        margin-bottom: 35px;
      }

      ul.faq li {
        margin-bottom: 20px;
      }

      #new_idea.placeholder, #new_idea:-moz-placeholder, #new_idea::-webkit-input-placeholder { color: #aaa; }

    :javascript
      $(document).ready(function() {
        // nice fade in/out for the header
        $('#header').mouseenter(function() {
          $('#header').animate({opacity: 1.0}, 100);
        });
        $('#header').mouseleave(function() {
          $('#header').animate({opacity: 0.4}, 100);
        });
      });

    = yield :javascript

  %body
    .container
      .row
        #header{:style => 'border-bottom: 1px solid #DDD; overflow:hidden; padding-bottom: 10px; margin-bottom: 10px;'}
          =link_to image_tag('wikipedia/hearts_wikipedia.png'), root_url, :style => 'float:left'

          %ul.nav{:style => 'float:right;'}
            %li= link_to t('vote.cast_votes'), "/#{@earl.name}", :style => (controller_name == 'earls' ? 'color:#808080;text-decoration:none;' : '')
            %li= link_to t('nav.view_results'), "/wikipedia-banner-challenge/results", :style => (controller_name == 'questions' ? 'color:#808080;text-decoration:none;' : '')
            %li= link_to 'FAQ', '/wikipedia-banner-challenge#faq'

      .alert-message.info
        %p
          This project is closed, but we keep it running so you can see how it works.
      = yield 

      %p{:style => 'text-align:center;'} #{link_to 'allourideas.org', 'http://www.allourideas.org'} is powered by #{link_to 'open-source software', 'http://github.com/allourideas'} | #{link_to 'Blog', 'http://blog.allourideas.org'} | #{link_to 'Twitter', 'http://twitter.com/allourideas'} | #{link_to 'Facebook', 'http://www.facebook.com/allourideas'} | #{link_to 'Github', 'http://github.com/allourideas'}

    <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-27725228-1']);
    _gaq.push(['_trackPageview']);

    (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

    </script>
