= render :partial => "shared/highcharts_header"
= render :partial => "shared/google_jsapi"
= '<script type="text/javascript" src="http://www.google.com/uds/?file=visualization&v=1"></script>'
= javascript_include_tag 'google-termcloud.js'
= stylesheet_link_tag 'google-termcloud'

-content_for :javascript do
  - marketplaces_js_array = []
  - @marketplaces.each_with_index do |market, i|
    -# [pairwise-api.question_id, earl.name, pic.id]
    - marketplaces_js_array << "[#{market.question_id}, '#{market.name}', #{i+1}]"
    - @current_marketplace_pic = i+1 if market.question_id == @earl.question_id

  :javascript
    var MARKETPLACES = [
      #{marketplaces_js_array.join(',')}
    ];

    var results_view_text = function(){ return "#{t('results.view_link')}";};
    var results_close_text = function(){ return "#{t('results.close_link')}";};

    // most of this javascript is straight from javascripts/application.js
    function iframe_loaded(){
      $('.voter_map_indicator').hide();
    }

    function toggleLinkTextandTargetElement(link, target){
      //Using functions here to allow for i8n
      var theText = (link.text() == results_view_text()) ? results_close_text() : results_view_text();
      link.text(theText);

      var loaded = link.attr('isLoaded');
      if(loaded)
      {
      if(theText == results_view_text()){
      target.hide();
      }
      else{
      target.show();
      }
      return true;

      }
      else{
      //this hasn't been initialized, punt
      return false;
      }
    }

    $(document).ready(function() {
      $('.banner').css('backgroundImage', 'url(/images/wikipedia/ad/#{@current_marketplace_pic}.png)');

      $('.date-chart').click(function(event){
        event.preventDefault();
        event.stopPropagation();
        var target_row = $(this).parent().parent().next();
        var target_div = $(this).parent().parent().next().find('div');

        if(!toggleLinkTextandTargetElement($(this), target_row)) {
          target_row.show();
          target_div.html('<img src=/images/indicator.gif />');
          $.get($(this).attr("href"), null, null, "script");
          $(this).attr('isLoaded', true);
        }
      });

      $('.view_voter_map').click(function(event){
        event.preventDefault();
        event.stopPropagation();
        var current_row = $(this).parent().parent();
        var target_row = $(this).parent().parent().next();
        if(!toggleLinkTextandTargetElement($(this), target_row))
        {
          var iframe_html= "<tr id=voter_map_row class='row1'><td class='title' colspan='2' height=370px><div class='voter_map_indicator'><img src='/images/indicator.gif' /></div><iframe id='voter_map_iframe' src='" + $(this).attr('href') + "' onload='iframe_loaded();' width='746px' height='370px' frameborder=0 scrolling=no style='border:1px solid rgb(145,145,145);'></iframe></td></tr>";
          current_row.after(iframe_html);
          $(this).attr('isLoaded', true);
        }
      });
    });
:css
  .marketplace-links a img {
    width: 50px;
    height: 50px;
  }

  .marketplace-links a {
    filter: alpha(opacity = 50);
    opacity: 0.5;
  }

  .marketplace-links a:hover, .marketplace-links a.selected {
    filter: alpha(opacity = 100);
    opacity: 1;
  }

  .marketplace-links a.selected img {
    border: 1px solid blue;
  }

  div.banner {
    margin-left: 0;
  }

  td.votes {
    text-align: right;
  }
.row{:style => 'margin-bottom:35px'}
  .span16
    .marketplace-links{:style => 'float:left; margin-right: 10px;'}
      -@marketplaces.each_with_index do |market, i|
        =link_to image_tag("wikipedia/ad/#{i+1}-thumb.png"), "/#{market.name}/results", :class => ('selected' if market.question_id == @earl.question_id)
    %h1{:style => 'float:left;padding-top:10px;'}
      Voting Results
      = link_to('[?]', '#explanation', 'data-controls-modal' => "explanation", 'data-backdrop' => 'static', :style => 'font-weight:normal; font-size: 20px;')

-@choices.each do |choice|
  .row
    .span14
      .banner
        .copy
          =truncate(h(choice.data), :length => 137)
    .span2
      %h2=choice.attributes['score'].round.to_s
      %h6 out of 100
      %p= link_to('[?]', '#explanation', 'data-controls-modal' => "explanation", 'data-backdrop' => 'static')
.ninety
  %table.full

    -if !params[:more] && !params[:all] && (@question.attributes['choices_count'].to_i > 10)
      %tr.row1
        %td{:colspan => 3}
          %strong= link_to(t('nav.see_all_ideas'),url_for(:action => :results, :controller => :questions, :id => @earl.name, :more => true))
    %tr.row0.thin
      %td{:colspan => 3}
  -if params[:more] && !params[:all]
    .pagination
      %ul
        = paginated = will_paginate @choices, :previous_label => I18n.t('results.previous'), :next_label => I18n.t('results.next'), :renderer => ::WikipediaPagination, :container => false
    -if paginated
      .center=link_to("See All #{@question.active_choices} Ideas", :action => :results, :all => true)
  %br
  %br

  %table.full
    %tr.row0
      %th=t('results.data_visualizations')
      %th.score &nbsp;
    %tr{:class => cycle("row2", "row1")}
      %td.title= t('results.scatter_ideas_title')
      %td.votes
        = link_to(t('results.view_link'), url_for(:action => :scatter_plot_user_vs_seed_ideas, :type => "scatter_ideas"), :class => 'date-chart')
    %tr{:class => current_cycle , :style => "display:none;"}
      %td.title{:colspan => '2'}
        .chart-container{:id => "#{"scatter_ideas"}-chart-container"}
    %tr{:class => cycle("row2", "row1")}
      %td.title
        = t('results.word_cloud_ideas_title')
        = link_to('[?]', '#word_cloud_exp', 'data-controls-modal' => "word_cloud_exp", 'data-backdrop' => 'static')
      %td.votes
        = link_to(t('results.view_link'), url_for(:action => :word_cloud), :class => 'date-chart')
    %tr{:class => current_cycle , :style => "display:none;"}
      %td{:colspan => '2'}
        .wcdiv.chart-container#wcdiv
    %tr{:class => cycle("row2", "row1")}
      %td.title
        = t('results.word_cloud_weighted_title')
        = link_to('[?]', '#word_cloud_exp', 'data-controls-modal' => "word_cloud_exp", 'data-backdrop' => 'static')
      %td.votes
        = link_to(t('results.view_link'), url_for(:action => :word_cloud, :type => 'weight_by_score'), :class => 'date-chart')
    %tr{:class => current_cycle , :style => "display:none;"}
      %td{:colspan => '2'}
        .wcdiv.chart-container#wcdiv-weight_by_score
    %tr{:class => cycle("row2", "row1")}
      %td.title
        = t('results.word_cloud_uploaded_title')
        = link_to('[?]', '#word_cloud_exp', 'data-controls-modal' => "word_cloud_exp", 'data-backdrop' => 'static')
      %td.votes
        = link_to(t('results.view_link'), url_for(:action => :word_cloud, :type => 'uploaded'), :class => 'date-chart')
    %tr{:class => current_cycle , :style => "display:none;"}
      %td{:colspan => '2'}
        .wcdiv.chart-container#wcdiv-uploaded
    %tr{:class => cycle("row2", "row1")}
      %td.title
        = t('results.word_cloud_uploaded_weighted_title')
        = link_to('[?]', '#word_cloud_exp', 'data-controls-modal' => "word_cloud_exp", 'data-backdrop' => 'static')
      %td.votes
        = link_to(t('results.view_link'), url_for(:action => :word_cloud, :type => 'uploaded_weight_by_score'), :class => 'date-chart')
    %tr{:class => current_cycle , :style => "display:none;"}
      %td{:colspan => '2'}
        .wcdiv.chart-container#wcdiv-uploaded_weight_by_score
    %tr{:class => cycle("row2", "row1")}
      %td.title= t('results.world_map_title')
      %td.votes 
        = link_to(t('results.view_link'), url_for(:action => :voter_map, :type => 'votes'), :class => "view_voter_map")
    -if @available_charts
      -@available_charts.each do |type, options|
        %tr{:class => cycle("row2", "row1")}
          %td.title= options[:title]
          %td.votes
            = link_to(t('results.view_link'), url_for(:action => :timeline_graph, :type => type), :class => 'date-chart', :id => "#{type}-datechart-view-link")
        %tr{:class => current_cycle , :style => "display:none;"}
          %td.title{:colspan => '2'}
            .chart-container{:id => "#{type}-chart-container"}
      -if current_user && current_user.admin?
        %tr{:class => cycle("row2", "row1")}
          %td.title= "View density of votes for this question (super-admin only)"
          %td.votes
            = link_to('[View]', url_for(:action => :density_graph, :type => "density"), :class => 'date-chart')
        %tr{:class => current_cycle , :style => "display:none;"}
          %td.title{:colspan => '2'}
            .chart-container{:id => "#{"density"}-chart-container"}
        %tr{:class => cycle("row2", "row1")}
          %td.title= "View number of ratings of choices by creation time (super-admin only)"
          %td.votes
            = link_to('[View]', url_for(:action => :scatter_num_ratings_by_creation_time, :type => "scatter_num_ideas_by_creation_time"), :class => 'date-chart')
        %tr{:class => current_cycle , :style => "display:none;"}
          %td.title{:colspan => '2'}
            .chart-container{:id => "#{"scatter_num_ideas_by_creation_time"}-chart-container"}
        %tr{:class => cycle("row2", "row1")}
          %td.title= "View number of appearances per choice by choice creation date (super-admin only)"
          %td.votes
            = link_to('[View]', url_for(:action => :choices_by_creation_date, :type => "choice-by-date"), :class => 'date-chart')
        %tr{:class => current_cycle , :style => "display:none;"}
          %td.title{:colspan => '2'}
            .chart-container{:id => "#{"choice-by-date"}-chart-container"}
        %tr{:class => cycle("row2", "row1")}
          %td.title
            = "World Map of bounces (viewed once and then left) (super-admin only)"
            = link_to('[?]', '#bounce_explanation', 'data-controls-modal' => "bounce_explanation", 'data-backdrop' => 'static')

          %td.votes 
            = link_to(t('results.view_link'), url_for(:action => :voter_map, :type => 'bounces'), :class => "view_voter_map")
        %tr{:class => cycle("row2", "row1")}
          %td.title= "World Map of uploaded ideas (super-admin only)"
          %td.votes 
            = link_to(t('results.view_link'), url_for(:action => :voter_map, :type => 'uploaded_ideas'), :class => "view_voter_map")
        %tr{:class => cycle("row2", "row1")}
          %td.title= "View number of votes per session (super-admin only)"
          %td.votes
            = link_to(t('results.view_link'), url_for(:action => :scatter_votes_by_session, :type => "votes"), :class => 'date-chart')
        %tr{:class => current_cycle , :style => "display:none;"}
          %td.title{:colspan => '2'}
            .chart-container{:id => "#{"scatter_votes_by_session"}-chart-container"}
        %tr{:class => cycle("row2", "row1")}
          %td.title= "View number of skips per session (super-admin only)"
          %td.votes
            = link_to(t('results.view_link'), url_for(:action => :scatter_votes_by_session, :type => "skips"), :class => 'date-chart')
        %tr{:class => current_cycle , :style => "display:none;"}
          %td.title{:colspan => '2'}
            .chart-container{:id => "#{"scatter_skips_by_session"}-chart-container"}
        %tr{:class => cycle("row2", "row1")}
          %td.title= "View number of votes vs number of skips per session (super-admin only)"
          %td.votes
            = link_to(t('results.view_link'), url_for(:action => :scatter_votes_vs_skips, :type => "skips"), :class => 'date-chart')
        %tr{:class => current_cycle , :style => "display:none;"}
          %td.title{:colspan => '2'}
            .chart-container{:id => "#{"scatter_votes_vs_skips"}-chart-container"}
        %tr{:class => cycle("row2", "row1")}
          %td.title= "View number of skips per day (super-admin only)"
          %td.votes
            = link_to(t('results.view_link'), url_for(:action => :timeline_graph, :type => "skips"), :class => 'date-chart')
        %tr{:class => current_cycle , :style => "display:none;"}
          %td.title{:colspan => '2'}
            .chart-container{:id => "skips-chart-container"}
        %tr{:class => cycle("row2", "row1")}
          %td.title= "View choice score vs total votes (super-admin only)"
          %td.votes
            = link_to(t('results.view_link'), url_for(:action => :scatter_score_vs_votes), :class => 'date-chart')
        %tr{:class => current_cycle , :style => "display:none;"}
          %td.title{:colspan => '2'}
            .chart-container{:id => "scatter_score_vs_votes-chart-container"}
  #explanation.modal{:style => 'display:none;'}
    .modal-header
      =link_to 'x', '#', :class => 'close'
      %h3= t('items.about_scoring')
    .modal-body
      =t('items.score_explain')

  #wikipedia-explanation.modal{:style => 'display:none;'}
    .modal-header
      =link_to 'x', '#', :class => 'close'
      %h3= t('items.about_scoring')
    .modal-body
      =t('items.score_explain')

  #word_cloud_exp.modal{:style => 'display:none;'}
    .modal-header
      =link_to 'x', '#', :class => 'close'
      %h2= t('results.about_word_cloud')
    .modal-body
      =t('results.word_cloud_exp')
  
  -if current_user && current_user.admin?
    #bounce_explanation.modal{:style => 'display:none;'}
      .modal-header
        =link_to 'x', '#', :class => 'close'
        %h2= "About Bounces"
      .modal-body
        A bounce is defined as a session that has seen exactly one appearance and taken no other action on our site (one 'click' on our site)
        %br
        So if a user refreshes the page after visiting (generates another appearance) they would no longer be considered a bounce.
        %br
        Another example:  a user that views the voting page, then view results, then leaves, would not be considered a bounce
        %br 
        Note that this may not be 100% accurate because of the way that firefox save cookies past their intended expiration date