!!! 5
%html{:xmlns => "http://www.w3.org/1999/xhtml", :'xml:lang' => "en", :lang => "en"}
  %head
    %meta{:'http-equiv' => "content-type", :content => "text/html;charset=UTF-8"}
    = yield :meta
    <meta name="keywords" content="ideation, online suggestion box, open source suggestion box, crowdsourcing ideas, social suggestion, idea comparison, prioritize ideas, nonprofit, free idea management" /> 
    %meta{:name => "description", :content => t('home.whats_this_txt')}
    %meta{:property => "og:description", :content => t('home.whats_this_txt')}
    %meta{:property => 'og:image', :content => "#{request.protocol}#{request.host_with_port}" + image_path('favicon.png')}
    <meta property="og:site_name" content="All Our Ideas"/>
    %link{:rel => "shortcut icon", :href => "http://www.allourideas.org/favicon.ico"}
    %title= t('common.title')
    = stylesheet_link_tag 'bootstrap/bootstrap.min', 'screen'
    = stylesheet_link_tag 'bootstrap/bootstrap-responsive.min', 'screen'
    
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.3/themes/ui-lightness/jquery-ui.css" type="text/css" media="all" />
    = stylesheet_link_tag 'ui.theme', :media => 'all'
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.7.3/jquery-ui.min.js" type="text/javascript"></script>
    = yield :head
    %script{:type => "text/javascript"}
      $(document).ready(function() {
      = yield :view_javascript    
      });
  %body{:class => I18n.locale}
    .navbar.navbar-aoi.navbar-inverse
      .navbar-inner
        .container
          %ul.nav.pull-right
            - if signed_in?
              %li.dropdown
                %a.dropdown-toggle{:href => "#", "data-toggle" => "dropdown"}
                  = current_user.email
                  %b.caret
                %ul.dropdown-menu
                  %li= link_to t('user.logout'), '/sign_out'
                  %li= link_to t('user.control_panel'), admin_path
                  %li= link_to t('nav.make_your_own'), new_question_path
            - else
              %li= link_to t('user.login'), sign_in_path
    =javascript_tag "var AUTH_TOKEN = #{form_authenticity_token.to_json};" if protect_against_forgery?
    .content.container{:style => white_label_request? ? "overflow:hidden": ""}
      - unless white_label_request?  
        =render :partial => "shared/header"
      .body{:class => white_label_request? ? 'noborder' : ''}
        .row
          .span12
            = render :partial => "shared/flashes"
            -if session[:standard_flash]
              .alert
                %a.close{:type => 'button', :"data-dismiss" => 'alert'} &times;
                %p= session[:standard_flash]
              -session[:standard_flash] = nil
            -unless session[:has_voted]
              -if session[:welcome_msg]
                .alert
                  %a.close{:type => 'button', :"data-dismiss" => 'alert'} &times;
                  %p= h(session[:welcome_msg])
                -session[:welcome_msg] = nil
        = yield
      - unless white_label_request?  
        = render :partial => "shared/footer"
      = javascript_include_tag 'jquery.ba-url.min.js', 'jquery.taconite.js', 'jquery.hint.js', 'label_over', 'jquery.jqEasyCharCounter.js', 'application', 'jquery.form', 'bootstrap/bootstrap.min'
      -if ['production'].include? Rails.env
        %script{:type => "text/javascript"}
          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-11703548-1']);
          _gaq.push(['_trackPageview']);
          - if @earl && !@earl.ga_code.blank?
            _gaq.push(['b._setAccount', '#{h(@earl.ga_code)}']);
            _gaq.push(['b._trackPageview']);
        :javascript
          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();
