<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>CHANGETITLE</title>
    <%= stylesheet_link_tag :flutie, 'CHANGEME', :cache => true %>
  </head>
  <body class="<%= body_class %>">
    <div class="content">
      <%= render :partial => 'shared/flashes' -%>
      <%= yield %>
      <%= render :partial => 'shared/javascript' %>
    </div>
  </body>
</html>
